[2017-06-13 13:41] ljay79 opened #10 "Jira project key with numbers are ignored"
Jira project keys with numbers in it are currently ignored by regular expression.
Project Key: "JST-..." works, while "JST24-..." doesnt.

[2017-06-21 20:15] ljay79 commented on #10
fixed with 0111fb5aac1e5dce271030a0ca6d7d73c31ba8ba

[2017-06-21 20:15] #10 closed

[2017-06-23 23:48] kfiry77 opened #12 "incompatibilities to Jira Server version"
Hi,
I am trying to use the plugin with my company Jira, however when I open The application stack when tryng to load the filter.
I have viewed the console and observed the following error caught:
[code]

My Company uses jira with http, however I see everywhere in the code : `'https://' +  ....`
Please assist.

[2017-06-24 16:57] ljay79 commented on #12
Applied a patch with commit 8147509762a7a712f1bcb4b0c24d2b4d23f1ce16 .
Already pushed to GAS as version 0.13.0, should be automatically updated in your google sheet within few hours.
Check the "About" from within google sheet to look out for version 0.13.0 which should allow you to use "http://" jira servers now.

[2017-06-24 19:20] kfiry77 commented on #12
Hi, Thanks for the patch. It is not stack anymore,
However It seems that when trying to find the filter, i get message :

When I am looking at "Manage filter" section on the JIRA website, I am getting many filter, part of them mine, part of them public.
Please advise.

BTW my JIRA server  version is  v7.3.0

[2017-06-24 21:23] ljay79 commented on #12
Hi, thanks for the feedback.

I was just researching difference for Jira Server and Jira Cloud.
Im using the Jira Cloud version only.

It seems, that the methid im using to fetch the users filters _/filter/my_ is not existing in the Jira Server version of the api.
I can implement a failover for this difference but wont be able to do it today anymore.

Can you tell me, if at least the other feature

[2017-06-25 14:30] kfiry77 commented on #12
Hi,
I tried to use "Refresh Ticket Data", and it did not refresh even after 15 Minutes.
Seem to me it does not work.  Am i doing something wrong?
Thanks for the update and support.

Regarding the SSL, I have already inform our IT/ALM to fix it, hope it will be end soon.

[2017-06-25 16:01] ljay79 commented on #12
Sry to hear. I guess it's an incompatibility to Jira server version. For development I had only an OnDemand version available.

I will see that I can make it compatible soon. Just a little harder to do, as I won't be able to test it during development.

Sry that the plugin isn't working for you yet.
But your feedback is valuable. Thx

[2017-06-25 18:38] kfiry77 commented on #12
Thanks for the support.
If there is anything else I can share, feel free to contact me directly.

[2017-06-26 07:06] kfiry77 commented on #12
Hi,
I have looked and check the filters API since you noted that it does not exists on the Server version,
I have found that the available filter is `rest/api/2/filter/favourite`, so I suggest to use this REST API as fallback when the /filter/my does not work.
Thanks and Regards,

[2017-06-27 08:15] ashishsrivastava02 opened #14 "getting error when insert > list issues from filter"
TypeError: Methode "indexOf" von null kann nicht aufgerufen werden.

[2017-06-27 18:54] ljay79 commented on #14
Thanks for the feedback.
Somehow i broke the setting for the default jira issue columns during one of the past changes.

I have applied a proper fix now with commit 9d7f50ba0c2c4e8f980d3527aa8a778ca06cb72d .
Please watch out for my next release to the google app store.
(will update you here later on)

Im trying to add some Jira Server version compatibilities with the next release.

[2017-06-27 20:29] ljay79 commented on #12
Ok, i have now added handling to differentiate between these 2 Jira versions (server vs. ondemand).
Again, i can only blindly build it as i dont have a Jira Server to test against with.

However, from the documentation, i could find only the filter retrieval method are different in both. The other methods so far should be compatible for both.

I have just released the new version (https://github.c

[2017-06-27 20:31] ljay79 commented on #14
I have just released the new version (https://github.com/ljay79/jira-tools/tree/v0.14.0) to GAS.
It should be available shortly in the Google Sheet Addon Store (GAS).
Your installed add-on would update fully automatically.

(In case you are using Jira Server and not OnDemand)
When new update available (v0.14.0), please go into: _“Add-ons > Jira Sheet Tools > Settings”_
and press "SAVE", this will

[2017-06-27 20:31] #14 closed

[2017-06-29 12:10] kfiry77 commented on #12
That worked for getting the list of filter smoothly.
however, when I have selected one of the filter I am getting the following message:

I have even tried to disable all field and I have got the same result.
Can you elaborate which REST API you are using to fetch the list, so I would check it on my server?

Once again, thank for the great support!

[2017-06-29 17:01] ljay79 commented on #12
{code}
https://docs.atlassian.com/jira/REST/server/#api/2/search-searchUsingSearchRequest

POST with
(SAMPLE)

data{
	jql: 'assignee = currentUser() and resolution is empty',
    fields: [array of columns as check in form],
    properties : ['due'],
    maxResults: 100,
    validateQuery: 'strict'
}
{code}

I just compared docu for the search method in both server version.
The "properties" propert

[2017-06-29 19:41] ljay79 commented on #12
Hi.

Ok so i found the issue and could solve it. At the same time found and (kinda) solve another issue too.
New release https://github.com/ljay79/jira-tools/tree/v0.15.0 is available in github but also any minute in the Google Add-on store.

PS: In case you find another issue (now or later) please create an individual issue here, so we can keep it clear and structured issue by issue also for othe

[2017-06-29 19:42] ljay79 commented on #14
Hi @ashishsrivastava02

was i able to solve your issue? Is it working for you now?

[2017-06-30 03:17] ashishsrivastava02 commented on #14
HI,

Thanks. it is working well for me now.

[2017-06-30 20:01] ljay79 commented on #14
awesome

[2017-06-30 20:01] ljay79 commented on #12
Any feedback yet with the new changes?

[2017-07-03 09:08] kfiry77 commented on #12
OK,
Tested it.
I am getting the message:
[code]

[2017-07-03 09:37] kfiry77 commented on #12
Hi,
I have tested the REST and found the following issues:
1. validateQuery requires bool while you entered 'strict' value.
2. properties field is not recognized.

after fixing these two issues, I the Rest API works smoothly.
Thk.

[2017-07-03 16:20] ljay79 commented on #12
Thx for debugging... the "properties" attribute I removed in latest version already. The "validateQuery" I have to check, might be another difference to Jira Server.

Thx for debugging

[2017-07-04 16:08] MHLarouche-aldo opened #18 "Adding Column such as Epic link"
Hi!

I'm unable to add the Epic Link column or choose it from the list. Is it possible? I was hoping the workaround (adding a column, writing "Epic Link" the exact same way as Jira does and then refreshing the data) would work.

Can you help? Thank you!

[2017-07-04 19:00] ljay79 commented on #18
Hi. Thanks for your feedback.
Currently this add-on does not support "Epic link" but i will consider adding it.

[2017-07-04 19:04] ljay79 commented on #12
Yep, the param "validateQuery" for Jira Cloud (OnDemand) requires "strict" as the boolean false/true is deprecated, while on the Jira Server it is still true or false.

Will add a switch depending on the jira instance type.

[2017-07-04 19:37] ljay79 commented on #12
Ok, so the "properties" attribute issue should be fixed already since v0.15.0 and the "validateQuery" issue i have applied a fix in the latest version now v0.16.0 .

Pls check and let me know if there is anything else.

Thx again for the feedback - its very valuable.

[2017-07-04 19:44] MHLarouche-aldo commented on #18
It would be very useful! Our business stakeholders will take ages before using Jira as their primary tool. Spreadsheet is the way to communicate to them the % progress for each desired features.

Isn't there another workaround until it gets (hopefully) added?

Thank you!

[2017-07-04 19:44] ljay79 commented on #18
Hi @MHLarouche-aldo i have checked the ability to include a Epic Link, and while reviewing the documentation i remembered why i didnt included it from the beginning.

Jira "Epic Link" simply put is a custom field inside jira and not a standard field i can assume to fetch from any instance of Jira the same way.

At this stage i have to tell you, i wont be able to add this issue field to the add-on.

[2017-07-04 19:44] #18 closed

[2017-07-04 19:45] MHLarouche-aldo commented on #18
Epic Link or Epic Name..?

[2017-07-04 19:47] ljay79 commented on #18
its basically the same.
To be more precise, by default the Epic is a regular jira issue link of type epic which has a name, url/link and more details.

If you are familiar with RESTapi feel free to investigate my code, im always happy for contributions.

[2017-07-04 19:47] MHLarouche-aldo commented on #18
thank you!!

[2017-07-04 20:49] ljay79 commented on #18
PS: I feel your pain with acceptance of Jira for the stakeholders, have/had same issues for long.
Atm i can not think of a short time solution to add this field into the list.

However, maybe it helps as workaround, you could add a regular issue list into your sheet, then manually add another column, add the Jira issue Key of the Epic by yourself. And with "Jira Sheet Tools -> Refresh Ticket Data"

[2017-07-04 22:04] MHLarouche-aldo commented on #18
yeah, I was thinking about that second option you recommend!

Thanks again, I'm close to fulfilling their needs... thank you!

[2017-07-05 06:51] kfiry77 commented on #12
Thank you very much. it's is now working perfectly.
be sure that I am going to use it, and distribute to all my colleges.
You support was valuable.

[2017-07-05 06:51] #12 closed

[2017-07-27 09:08] vincentchan opened #20 "Can't display Estimate story points"
This add-on is so awesome. But for some reasons, I can't get the Estimate story point values. It just shows all ZERO in that column. Do you know why? Thanks.

Vince

[2017-07-28 22:25] ljay79 commented on #20
Hi @vincentchan ,

thanks for using my add-on.
Estimate Story point i do not yet support in the coulmns to display.
The existing "Estimate" column is the estimate in time you can maintain in Jira but not to mixup with story points.

PS: Dont forget to write a feedback within Google Add-on Store :)

[2017-08-05 11:38] ljay79 opened #21 "Use Cache Service for frequent API call with infrequently changed data"
Improve the multiple calls to fetch infrequently changed Jira data with Google Cache Service.
Ie:
- For fetching all users, groups from JIRA
- Store results (jira issue filter etc) for some amount of time (<5min) to speed up creating multiple sheets with same requests/searches
- worklog generation

[2017-08-09 20:30] ljay79 opened #23 "Improve security of credential storage"
- dont get plain text password into dialog
- store encrypted info only

[2017-08-09 20:31] ljay79 opened #24 "Improve Server Settings verification"
- add validation for user credentials on top of plain connection test

[2017-08-15 01:08] yashar1 opened #25 "Filter Results Cap at 200"
I've connected to a filter that should return (and currently returns in JIRA) 6,300 results.

The sheet is capping out at the first 200 results.

I'm using On Demand which should produce at least 1,000 results.

Any ideas of what could be causing this? Thank you!

[2017-08-15 13:02] ljay79 commented on #25
Hi @yashar1 i will check out this soon.
My JIRA instance i can test with wont support 6k results but i should have something with much more than 200 to reproduce it...

[2017-08-15 19:30] ljay79 commented on #25
Ok @yashar1 no problem.
I found the reason, i have purposely a limit of 200 results maximum hard coded in the add-on, because this request is quite resource consuming and taking long.

But i will increase the limit and maybe add some more extended logic.
If you can wait a few more days, then i will release a new version anyway with a new feature for getting worklogs as a Timesheet.

Sry for the ha

[2017-08-15 21:44] yashar1 commented on #25
@ljay79

Thanks for the update, I'll stay put for the new changes!

[2017-08-17 19:19] ljay79 commented on #25
Hi @yashar1 ,
a new version is out since yesterday. It should already automatically have updated your installed one.
The maximum result is now to default 1000.
Please check if that helped and let me know.

In one of the future versions i will refactor the function to allow pagination over actual all total results. Maybe a few weeks though 👍

[2017-08-22 23:07] yashar1 commented on #25
@ljay79 ,
Works great, I'll check back for the all total results function!

Thank you once again

[2017-08-23 14:46] simonjaz opened #30 ""Refresh Ticket Data""
Hi, is there a way you could update statuses of Jira tickets in column Status if you have it in Google spreadsheets?
Now it updates current Jira ticket id, but I think it would be useful to just update Status field. Additionally even better would be to just update all those fields that you have in columns you got with "List Issues From Filter" function.

[2017-08-23 16:16] #25 closed

[2017-08-23 16:20] ljay79 commented on #30
Hi @simonjaz ,

i would love to do, however google sheet doesnt allow to reference cells in any way. This makes its kinda impossible to me to find the related cell which inherits just the status string for a particular jira ticket cell.
Updating the issues from "List issues from Filter" you can only really do by overwriting the current table with entire new one from filter.

Sry.

As soon this ref

[2017-08-23 16:20] #30 closed

[2017-08-23 16:21] #20 closed

[2017-08-25 12:00] juliangardnereurocios opened #31 "Add Custom Fields"
Hi,

I'm looking for a good plugin that will allow me to have results from a JIRA filter in a Google Sheet. Yours would be perfect, if we were able to show custom fields, like "sprint", but also our own custom fields.

Do you think this is possible?

Your,

Julian

[2017-08-27 10:58] ljay79 commented on #31
Hi @juliangardnereurocios
thanks for the feedback. I have this feature for custom fields already on my roadmap.
Cant tell when, but maybe before end of september...

[2017-09-03 04:20] PravinrajV opened #32 "Could not connect to Jira Server![401]"
I have tried multiple times but I get the error: "Could not connect to Jira Server![401]".
I used the same Jira URL and credentials in browser and they work fine.
Any thoughts?

[2017-09-03 06:55] ljay79 commented on #32
Hi.
401 code in general means, that the authentication failed.
What URL/domain do you try?

PS: make sure username and password are correct.

[2017-09-03 14:31] PravinrajV commented on #32
Hi, yes I am not sure why the authentication fails.
I am able to use the same credentials login to browser.
One more thing, we use sign in using google. Will that be a problem when trying using the API.

[2017-09-03 14:51] PravinrajV commented on #32
URL i try is in the addon settings:

https://*orgname*.atlassian.net

Username:
Firstname.lastname@*orgname*.com

I also checked the username in the account profile in JIRA, it was not my
email but my Org userID, so i tried entering the ORGuser ID in the addon
settings.. Still no luck.

To login to JIRA in browser, i use google sign on.

On Sun, Sep 3, 2017 at 2:55 AM, Jens <notifications@github.c

[2017-09-04 12:15] gzsombor opened #33 "Ability to run jql counts"
It would be nice, if the user could write custom queries into the sheets.
For example JIRA_COUNT("project = SOMETHING AND resolution = Unresolved AND assignee = xyz")
What do you think? Is it reasonable / simple thing to implement?

[2017-09-05 08:37] ljay79 commented on #33
Hi @gzsombor,
Thx for your feedback.
I think this kind of direct JQL integration is beyond the scope of this add-on. Sry

[2017-09-05 08:37] #33 closed

[2017-09-11 21:13] BobFisk commented on #32
I seem to be having a similar issue, although I do not get any error msg.  We do not use Jira Cloud server...we host our own.  I suspect I'm having an authentication issue.  Trying to load a list of issue from filter, it just continues to look for filters.  Is there some way to verify if I am authenticating?

[2017-09-11 21:42] PravinrajV commented on #32
Do you use google single sign on when you login through browser?

[2017-09-11 21:44] BobFisk commented on #32
We do not use google single sign on to access Jira.  No.

On Mon, Sep 11, 2017 at 4:42 PM, PravinrajV <notifications@github.com>
wrote:

--
Bob Fisk
ScrumMaster
Terrapin Technologies
612.244.2341 <about:invalid#zClosurez>

[2017-09-12 14:22] fmccross commented on #31
I agree with this enhancement. The tool is great and exactly what I've been looking for but need to be able to import custom fields too.

[2017-09-13 03:11] harrism commented on #32
Related: JIRA Tools doesn't seem to work with self-hosted JIRA installations. I would like something like your tools to connect to JIRA within our company, which is self-hosted behind our firewall.

[2017-09-13 12:04] ljay79 commented on #32
@PravinrajV
I use this tool with a Jira Cloud setup and Google Domain connected, but still have to log on with my email addresses registered in Jira (and Google) and my default Google password (which is synced to Jira).
I had tested it with a trial Jira Cloud without any google involvement too.

I am very limited on researching such errors as this Add-on runs within Google in your sheet and direct

[2017-09-13 12:08] ljay79 commented on #32
@BobFisk when you go in the add-on settings "Add-ons" -> "Jira Sheet Tools" -> "Settings". Are all settings provided? When you hit save, does it show a short green feedback messge? Any errors shown?

What kind of JIRA service are you using? Cloud or self-hosted server?
Is JIRA generally accessible from the internet (public)?

[2017-09-13 12:10] ljay79 commented on #32
@harrism
Im afraid that any tools like this wont work with a private installed JIRA instance not accessible from the public internet.

These Add-Ons (including mine) are running within Google on public domains and any connection to JIRA would be from outside to Jira. If Jira is not publicly accessible, there is no way to use such add-on. Sry.

[2017-09-13 12:30] ljay79 commented on #31
Thx for the feedback @fmccross i definitivly will add such functionality.
Its a little tricky though and will require a little time for me... but ofcourse i let you know here on any updates..

[2017-09-13 13:11] PravinrajV commented on #32
I am able to use the tool now once I reset the password in JIRA to the same password and not use google sso for JIRA login.

Regards,
Pravinraj Vincent

[2017-09-28 15:55] ebiss commented on #31
Sounds like you've already got this one in the works, but I'd like to reiterate how amazingly helpful this feature would be! We just started using the add-on and love it, but are blocked on building the charts that we need until we can pull in a custom date time field that we created in JIRA.

[2017-10-04 15:06] ljay79 commented on #31
Quick update:

I am in progress of implementing support for Custom Fields at this moment.
I guess, within 1 or 2 weeks i should be able to release and new version.

One little bummer however, the Add-On wont be able to support any type of custom Jira fields.
For the moment i will only be able to provide support to custom fields of schema type: _date_, _datetime_, _string_ and _number_
Any other ty

[2017-10-04 20:00] nahuelio93 opened #34 "Tool only lists 100 issues"
Hey, I've been using the tool fine so far but it suddenly started only updating the last 100 issues on the filte (list issues from filter)r. I've tried with new filters and with another account and PC but to no avail. Is there a way to go back to having more tickets listed?

[2017-10-04 22:07] ljay79 commented on #34
Hi @nahuelio93

i can reproduce this and confirm. All my filter are limited to a result set of max 100 even the add-on has a value of 1000 passing to Jira's api.

I found an article from JIRA, just recently updated, which might explain why:
https://confluence.atlassian.com/jirakb/changing-maxresults-parameter-for-jira-rest-api-779160706.html

As i have started with an actual pagination implementat

[2017-10-05 21:21] ljay79 commented on #34
Little Update.

Im do quite well progress. Paginated search result is working on my DEV already even with more than 3000 jira issues to list - requires a lot from my chrome performance :)

I have to do some hardning and fine tuning, as well as have @DanielKulbe go over the visuals and then im pretty sure, beginning next week i can release a update release with a proper solution and some new featur

[2017-10-06 13:24] nahuelio93 commented on #34
Great! Thanks for the quick and complete response!

[2017-10-11 08:24] JOPE51 commented on #31
I follow the comment of EBISS.  Also for us, it can be a great help to organise our project planning

[2017-10-11 18:31] ljay79 commented on #31
Thx. Im only waiting for some visual tweaks then we are ready for a new release...

[2017-10-16 07:35] LuisDLR opened #36 "Chrome Manage add-ons - "Remove" and "Use in this Document" doesn't works"
If I go to 'Manage' menu. 'Delete' button is missing.
If I select 'Do not use in this document' doesn't disappear in any case.

[2017-10-16 14:54] ljay79 commented on #36
Hi @LuisDLR sry but i do not really have an idea of what you are talking about.
Could you clarify to me and maybe even add some screenshots for better refence...

[2017-10-16 15:09] LuisDLR commented on #36
Sorry, of course.

**This is the 'Manage menu'**
![image](https://user-images.githubusercontent.com/32832486/31619073-01afb3f2-b294-11e7-814c-da5159537572.png)

**Here should be an 'remove' option**
**And if the first option 'Use in this document' is not selected, the plugin should not be active on the sheet that is in use**
![image](https://user-images.githubusercontent.com/32832486/31619273-4fdd

[2017-10-16 15:16] ljay79 opened #38 "Exceed Google Sheet timeout"
:(
When trying to list issues from filter with more than ~1500 issues, the script might run into an execution timeout.
Google allows the script to run (only) about 6 minutes before it will kill it.

Will have to look into this soon...

[2017-10-16 15:27] ljay79 commented on #36
Ah ok. Thx for the info.
To be honest, i have never recognized this and never looked into it.

When i do same i can tell, i have in my test accounts at least the "Remove" option available.
The feature with "Use in this document" i will have to investigate.

May i ask, what the intention / reason for this would be - some practical use cases!?

[2017-10-16 15:29] ljay79 commented on #34
New version 0.19.0 (GA version 12) is now available in Google Add-On Store and approved already.
Should be automatically update in your sheet within next 24 hours.

Check the "About" dialog within the Add-On to verify what version is installed.

[2017-10-16 15:29] #34 closed

[2017-10-16 15:30] ljay79 commented on #31
New version 0.19.0 (GA version 12) is now available in Google Add-On Store and approved already.
Should be automatically update in your sheet within next 24 hours.

Check the "About" dialog within the Add-On to verify what version is installed.

[2017-10-16 15:30] #31 closed

[2017-10-16 15:31] ljay79 commented on #32
Closed as inital author's issue got resolved. Please open a new issue in case needed.

[2017-10-16 15:31] #32 closed

[2017-10-16 15:37] LuisDLR commented on #36
My main intention is to organize the plugins I use on each sheet. I don't always use all of them and the menu would be simpler to use.
The remove option is a matter of freedom :). Now your plugin is very useful to me but if I find a better option ...

Thank you very much for your work and sorry for my english

[2017-10-16 16:50] JOPE51 commented on #31
I tried the new release (checked it in the "About").  The problem is that when I try to configure custom fields I get the message 'No custom fields available! (red box in pop up). Can you tell me what the problem is? Do I have to make a new connection between JIRA and Google sheet? Do I have to change (define) something within JIRA itself?

[2017-10-16 17:09] ljay79 commented on #31
Hmmm no. You shouldnt have to do anything. Is is fetching all custom fields via jira rest api. I'll see if i can reproduce or analyze somehow.

[2017-10-16 17:15] ljay79 commented on #36
The "remove" function is clear and actually works here. Please ensure you are logged on with proper account, i can only assume its related to maybe document permissions, ie: you are not the owner.. Remove should be possible in all cases, not even aware there is a way someone could disable this feature.

[2017-10-16 17:18] ljay79 commented on #31
Can you do me 2 favours please:
a) open up a new issues (bug) with the report
b) go into the About dialog of my add-on and pass me on the value right next to the label "Temp. User Key".

This key is a temporary session key of a user running the script and allows me to filter for any error logs / stacktraces in the google StackDriver logs.
It is not disclosing any sensitive information of yours.

[2017-10-16 19:08] ljay79 commented on #32
In case someone comes across here with a same or similar issue, i could actually reproduce that error and identify one use case where this would happen.

### Solution
This applies to **JIRA Cloud** using **G-Suite synced** account. It might not apply to self hosted Jira instances.

Note that if you are logging in via a synced Google account, it is **NOT** the google password you are supposed to us

[2017-10-16 20:00] ljay79 commented on #36
Hi @LuisDLR
i doubled check and read the documentation as well try to find some hints in the www.
Apparently is there no way for an Add-On to interfer with the options in the Manage Add-On screen.
Neither can i reproduce the issue.

"Use in this Document" is simply and switch to turn it off, which would disable the Add-On's background processes and other interferences but would not remove the Add-

[2017-10-16 20:09] JOPE51 commented on #31
If I understood well, then this should be the key :
AFikiF3kacGA6pAvuI8V/4ANnTV2NhFiMxbgPuSSBYnX38SR+9GUuWEEXNAs4PUKDcf+PU3cKHnG

[2017-10-16 20:20] ebiss opened #39 "Support Drop-down Custom Fields"
Loving the new support for custom fields! For the metrics our company needs to pull, we need to be able to include custom fields that are a drop-down (called 'option') in order to fully use this add-on. Creating a new issue so I can track when you're able to support this functionality. Thanks!!

[2017-10-16 20:29] ljay79 commented on #39
wow...  i just released feature for request of custom fields and now already a request to extend it  hehe
You guys keep my busy for sure.

I can take a look into this, "Option" might be one of the more harder ones but still possible.
As soon i reviewed these types i will let you know if this request is doable for me or not.

[2017-10-16 20:30] ljay79 opened #40 "Error "No custom fields available""
extracting issue from other unrelated and closed one
https://github.com/ljay79/jira-tools/issues/31#issuecomment-336949736

I tried the new release (checked it in the "About"). The problem is that when I try to configure custom fields I get the message 'No custom fields available! (red box in pop up). Can you tell me what the problem is? Do I have to make a new connection between JIRA and Google s

[2017-10-16 20:49] ljay79 commented on #40
@JOPE51
First of all, yes you did correct. The provided user key was exactly what i meant.

I checked in the logs within StackDriver, sadly no errors logged for your session.
I can however see a few successfull logs.
Is it correct, the other function do work for you?

Are you actually sure, you do have custom fields in your used Jira instance?

Do you have a little technical background and might e

[2017-10-16 21:14] JOPE51 commented on #40
I can already tell you that the other function (using the standard fields) is working perfect.
As far as I know, we do use custom fields.  I will ask tomorrow to our 'JIRA administrator' if it is really so. Can you maybe tell me how I can see that we are working with custom fields?  I know that we defined new fields for our projects and outputs.

I'm not a programmer. I don't know if I have the te

[2017-10-17 07:16] ljay79 commented on #40
Jep sounds like you do have custom fields in Jira.
Last night i extended the logging a bit, can you please give it another try and report here. Please also copy again the "Temp User key" from the about dialog.

[2017-10-17 07:19] JOPE51 commented on #40
I did another try:
AFikiF3kacGA6pAvuI8V/4ANnTV2NhFiMxbgPuSSBYnX38SR+9GUuWEEXNAs4PUKDcf+PU3cKHnG

[2017-10-17 07:35] ljay79 commented on #40
Thx @JOPE51
I believe i found the issue :)

Im damn scatterbrained.. forgot to add the new API method to the "Jira Server" api part.
Apparently you use Jira self hosted - server version and i do have an Cloud version to test again with.

Will push a BugFix in a few minutes.
Once updated you will see Build v0.19.1 in the About dialog and then i believe it should work for you.

[2017-10-17 07:52] juliangardnereurocios commented on #31
This works perfectly for us, thank you for the work!

[2017-10-17 12:36] ljay79 commented on #40
@JOPE51
is your add-on already updated to version 0.19.1 ? (Check the "About" dialog).

Im confident the Custom Field feature should work then.

[2017-10-17 16:48] JOPE51 commented on #40
The add-on is indeed updated  to version 0.19.1.

**This is the current situation:**

In the popup 'Configuring custom fields, I can see the custom fields we defined.  I also see which type of custom field is supported (black or grey font). I selected some custom fields
![customfields2](https://user-images.githubusercontent.com/32700403/31677389-f3154fb4-b36a-11e7-97cc-4ca814fa2630.jpg)

When I go

[2017-10-17 18:41] ljay79 commented on #40
Hi @JOPE51  thanks for the patience, and im a bit happy its at least moving forward :)
I can see any recent errors in StackDriver, but this doesnt mean much, as google wont log everything to me - obviously because of privacy :0

Anyway, do me a favor, try to select 1 or 2 fields only atm. Select one without any special characters in the name, i have a feeling the fields with ":" could make trouble

[2017-10-17 20:43] JOPE51 commented on #40
This is what I tried : (key : AFikiF3kacGA6pAvuI8V/4ANnTV2NhFiMxbgPuSSBYnX38SR+9GUuWEEXNAs4PUKDcf+PU3cKHnG)

Selection in "Configure custom fields". In your custom fields je see those which you suggested to select.
![customfields4](https://user-images.githubusercontent.com/32700403/31688061-6cf5a0d4-b38b-11e7-9851-9ad2f7f39913.jpg)

Settings on "List issues from filter"
As you can see only the 'ou

[2017-10-17 20:53] ljay79 commented on #40
hmmm wow... you really give me headache :)
I will see if i can find a bottleneck in my code which might cause this, but sadly i wont be able to test myself as this is highly depending on your custom Jira instance beside that i have only a Cloud instance available for testing.
I see, that i can review the code by tomorrow and provide you feedback...

Cell A2 (2nd line of new table) is always the pl

[2017-10-18 06:56] LuisDLR commented on #36
I found it!

I work in a google domain and the applications are managed by sysadmins.

Thanks for u help @ljay79

[2017-10-18 07:37] ljay79 commented on #36
Oh so your sysadmin installed the app and that is why you cant remove it yourself? Interesting

[2017-10-18 08:11] LuisDLR commented on #36
That's it. Installation is controlled by Admins when domain account is used

[2017-10-18 08:23] ljay79 commented on #36
Glad we coul figure it out. I close this issue then.

[2017-10-18 08:23] #36 closed

[2017-10-21 18:36] ljay79 commented on #40
Hi @JOPE51

as i assume you still have the issue and i couldnt find the problem yet, i spent some time improving the debugging options.
I have just released an update to v0.19.2 which has entirely remodelled debugging/logging.
In the "About" dialog you can now enable "Debugging" and provide me the temporary user key.
This will allow me to debug your issue much more better than i could before.

![a

[2017-10-23 06:17] JOPE51 commented on #40
Hi,

The debugging is 'on' and the temporary key is : ALVeTPFWP8euFGPK7+JrfBVM3n3e3Iq8+HcEFkcDzauhvfWtEO9WniSZU+jR3U++c3heHaEdKI5G

I repeated the procedure as described earlier. The result is the same.

[2017-10-23 08:01] ljay79 commented on #40
Thanks @JOPE51  apparently the custom fields you use have no Jira key. Thats strange.
Can you please configure the fields again. Go to "Configure Custom fields" and remove all custom ones, press Save, then go back in and choose the ones you like to use and press Save again.

[2017-10-23 08:48] JOPE51 commented on #40
Done!

[2017-10-23 08:50] ljay79 commented on #40
Thank you. Have some useful logs i believe and will take a closer look at it tonight.

[2017-10-23 14:40] ljay79 commented on #40
@JOPE51 i found a bug, it was a incompatibility between Jira Server and Jira Cloud.
I believe, the issue is now fixed with my just released HotFix.

Please test it again and let me know if it now works.
Thx

[2017-10-23 16:34] JOPE51 commented on #40
Key:
ALVeTPFWP8euFGPK7+JrfBVM3n3e3Iq8+HcEFkcDzauhvfWtEO9WniSZU+jR3U++c3heHaEdKI5G
This is what changed:

- I can see now the selected custom columns in the popup 'List issues from filter'

- For the field 'Verantwoordelijk team' the content of the cell is something like _**{self=https://data.inbo.be/jira/rest/api/2/customFieldOption/10080, id=10080, value=Aquatisch beheer}**_ while it should be _*

[2017-10-25 19:08] ljay79 commented on #40
Hi @JOPE51

- the output of field _Verantwoordelijk team_ i will look into it.
- sorting of columns; i do actually not interfer with sorting/order of these and dont like to do. Simply because a alphabetic order might only suit some use case but not others. Its not possible to find one good sorting everyone will like, so i keep it straight and moving columns in the result table is as easy as drag&d

[2017-11-01 21:09] ljay79 commented on #40
@JOPE51
the custom field "Verantwoordelijk team", you mention you get above code as a cell value in your sheet.
Can you please confirm that this kind of value is in all cells of the column for your custom field.
I researched a bit, i cant reproduce it myself, but these kind of value would actually only result on custom fields of type `option`.

I can only think of an explanation as following:
The

[2017-11-05 12:33] ljay79 commented on #39
Hi @ebiss
please check out the latest release. It supports not more custom field types.
Please let me know if it works for you.

[2017-11-08 01:04] ebiss commented on #39
@ljay79 all of the fields we need are now supported! Thanks so much for fighting the good fight :)

[2017-11-08 17:38] #40 closed

[2017-11-09 14:49] ebiss commented on #39
@ljay79 can we re-open this issue? Right after I made my comment that it was working, I noticed that all the columns are showing up as blank for the custom fields and edited my comment. Probably should have just posted it in a new comment, I don't think you saw the updated one.

[2017-11-16 20:05] ebiss commented on #39
@ljay79 I went back in and refreshed my list today and drop-down custom fields seem to be populating correctly now. Thanks for all your work on this! Last question- there is one last field that we could really use in order for this add-on to work for all of our needs. Any plans to support Epic Link anytime soon?

[2017-11-20 12:17] ljay79 commented on #39
Hi @ebiss i will look into this topic the next days and see how complicated or easy it would be.

[2017-11-20 12:19] ljay79 commented on #39
@ebiss pls do me a favour. As it appears, this specific issue here seems solved for you.
So i like to close this. For the request of adding support for "Epic Link" jira field, i would kindly ask you to create a new issue separatly.

[2017-11-20 13:59] #39 closed

[2017-11-20 16:43] ebiss opened #44 "Support Epic Link Field"
Opening a new request to support the JIRA field type used for Epic link

[2017-12-17 13:15] ljay79 commented on #44
Hi.

Have just release new version 0.20.0 (https://github.com/ljay79/jira-tools/releases/tag/v0.20.0).
Now with support for EPIC Jira fields.
Little downside of that implementation, as i had some complications, it will first write the regular Jira key for every EPIC into the column, and then later through a time-based trigger (few seconds), converts al EPIC cells into the EPIC label with link.

To

[2017-12-17 17:45] ljay79 commented on #44
Update
Little update, its still pending in Google for Review. Unusual long... once its published you will see version _0.20.0_ under "About".

[2017-12-20 20:50] ebiss commented on #44
Hi @ljay79, excited to see the new release come out. I see a few of the epic fields now available as custom fields, but the Epic Link field appears to still be unavailable

[2017-12-20 21:06] ljay79 commented on #44
Hi. Release is published since a few hours now.
EPIC field is available now and converted in the column with Epic label and link to the epic.

If thats now what you were looking for please specify a little bit more, we dont use Epic that much at all in our development method.

[2017-12-20 21:09] ljay79 commented on #44
Under "Configure Custom Fields" i can see the fields to choose from: _Epic_, _Epic Color_, _Epic Name_, _Epic Status_.
I have activated just _Epic_ as a custom field and this enables the add-on to fetch the epic info (label and link) to show it in the jira issue listing.
At least on my Jira Cloud instance im connected with...

[2017-12-20 21:22] ebiss commented on #44
Ah, looks like the field you called "Epic" is the same thing as the "Epic Link" I'm used to seeing. Getting an error
"The add-on created too many "time-based" triggers for this Google user account in this document."
But I'm guessing that's from trying to hit the API too many times testing it out. I'll try again in a bit.

[2017-12-21 16:15] snadales opened #46 "Property usable of null can not be read"
the plugin stopped importing data and / or update, I'm totally dead

![screenshot_3](https://user-images.githubusercontent.com/34747865/34264254-09e33d96-e651-11e7-8305-61c6357fb522.png)

[2017-12-21 16:32] ebiss commented on #44
The Epic field works, thank you! Still running into the error, but I can open a separate issue for that.

[2017-12-21 16:41] ebiss opened #47 "Hitting trigger limit when including Epic Custom Field"
When I include the new Epic custom field in my filter, the add-on displays the first 3 lines (header, title, and 1 issue), then times out w/ the error:
"The add-on created too many "time-based" triggers for this Google user account in this document."
The add-on seems to handle returning the same filter just fine when I don't include the Epic field
I tried adding the Epic field to a different filte

[2017-12-22 14:34] ljay79 commented on #47
Hmm this is very strange.
For every Epic cell it will create a new trigger, but exactly because of the limitations, it is supposed to not add more than 2 trigger at any time.
I reviewed code and as of now, cant think of reason why it would create more.

Will see what i can do ...

[2017-12-22 14:39] ljay79 commented on #46
This bug should be fixed in latest add-on version 0.20.1.
Please check and let me know.

[2017-12-22 21:48] richard-chudy commented on #46
able to update / import. perfect!

[2018-01-08 18:24] ljay79 commented on #47
Closed due to inactivity.
In case there is still any problem, please open new issue.

[2018-01-08 18:24] #47 closed

[2018-01-08 18:24] #46 closed

[2018-01-09 07:04] JiraFun opened #49 "Ability to user custom field type user"
Hi - would like to suggest if we can ability to extract user type field that would be helpful. Not clear if this is a problem due to encryption or otherwise - even if we could get the username (rather than the resolved full name - this would be beneficial..

Thanks

JiraFun

[2018-01-09 12:05] ljay79 commented on #49
Hi @JiraFun thx for the suggestion.
Will see how and when i can apply something to benefit this.

[2018-01-09 22:11] jessieettinger opened #50 "Add more field options"
Hi, I saw this was brought up in the last few months but I was unsure if anything has changed since then. This add-on is exactly what I'm looking for to update our execs on our current projects without them having to dig in Jira. However if there were a way to display both the linked issues and either label or custom label field, that would be even more helpful!

Thanks

[2018-01-10 13:19] ljay79 commented on #50
Thx for your suggestion.
Can you please explain more detailed what you request with the "Label" and "Custom Label" part.

The JIRA system field "Labels" is already part of this Add-on and supported.
Custom fields are supported mainly, depending on the type of the field. Please check in the Add-On settings under "Configure Custom Fields" if your field is maybe already supported.

Adding all the "Li

[2018-01-10 14:56] jessieettinger commented on #50
I apologize for not being very explanatory. On the board I want to pull data from in Jira, I created a custom field called "Team(s) Involved" that using a label format (rather than drop down menu or checkbox for example) that ideally I would like to display. I was going to use the standard Jira label field to test the add-on out since I couldn't find my custom field but I am not seeing that option

[2018-01-10 17:50] ljay79 commented on #50
The Jira default field "Labels" is available per default in my Add-on when you go to "List Jira issues from Filter".
![field-labels](https://user-images.githubusercontent.com/12184976/34787117-7e730b38-f636-11e7-931f-09eb34732c53.jpg)

Your custom field "Teams involved" of type "label" is currently not support.
I will find some time and see if i can implement support for it.
Can you confirm, your

[2018-01-10 19:40] jessieettinger commented on #50
Thanks for pointing out the Jira labels! Totally missed it.

And yes, my custom field is a label. Thank you, I appreciate it!

![custom_fields_-_jira](https://user-images.githubusercontent.com/32879113/34791801-ae42be06-f60b-11e7-8f9c-acd4b808ece4.jpg)

[2018-01-13 17:59] shibucyriac opened #51 "Cannot log in with Google Account"
I usually log into Atlassian using my corporate google account. How can I use the same with Google Sheet Tools

[2018-01-13 18:47] ljay79 commented on #51
Hi @shibucyriac  and welcome.
This is a known issue when using Jira with G-Suite synced.
Please read the Readme here in section _[Known Issues](https://github.com/ljay79/jira-tools#known-issues)_.

Let me know if this didnt helped.

[2018-01-20 13:48] ljay79 commented on #51
closed due to inactivity

[2018-01-20 13:48] #51 closed

[2018-01-20 17:39] ljay79 commented on #50
Hi @jessieettinger
Check out the latest version (add-on will automatically update to v0.20.2).
It will now support the Jira "Labels". You can configure it in settings of the Add-on "Configure Custom Fields".

[2018-01-20 17:39] #50 closed

[2018-01-20 17:40] ljay79 commented on #47
Identified the case, too many triggers get created and implemented a fix. Hope this issue is solved now.

[2018-01-20 17:42] ljay79 commented on #49
@JiraFun the currently released version will allow you to choose what to display for Assignee,Report or Creater. In the Add-On settings you find the option what to display; either "First-/Lastname" (default) or "username".

Hope this helps you. Let me know if it works and this ticket can be considered closed.

[2018-01-22 00:38] JiraFun commented on #49
Actually our use case is as follows:-

We have various touch points in the development of an issues, some for review - some for analysis.
Functional Consultant
Developer
Reviewer

etc etc

During the workflow some of the key different touchpoints and they are stored in custom fields (of user type).  Jira doesnt have any provision for this in the standard fields.

So I would like to be able to extr

[2018-01-22 21:27] julieelman opened #53 "This add-on has created too many time-based triggers"
Hi - I am l looking to use this add-on with my JIRA instance. Today I encountered the following error in Google Docs:

![screen shot 2018-01-22 at 3 09 53 pm](https://user-images.githubusercontent.com/20932356/35243885-638abd16-ff8c-11e7-8daa-4ae40ea1b7a9.png)

As a note my organization uses Tempo Time Tracking so while I cannot confirm, I am wondering if this could be requiring time-based. Have y

[2018-01-23 09:35] steve-purkis-inviqa opened #54 "Feature request: Time report for a given project"
Hi @ljay79,

Thanks for your work on this open-source plugin!

I was hoping to use it to simplify time reporting for projects; to do that I'd need to be able to download time logs per project rather than per user.  From a UI perspective, the only thing that would need to change is introducing a project selector where you currently have a user selector.  Under the hood, it would hit the Jira API to

[2018-01-23 09:51] steve-purkis-inviqa opened #55 "Feature request: download & aggregate workflow state transitions"
Hi @ljay79,

Thanks again for this plugin.  I was hoping to use it to produce better Lean/Kanban analytics than Jira currently provides. To do that I'd need to be able to download and aggregate workflow state transitions.

From a UI perspective, I see this as an extension to the List Issues from Filter" feature you currently have.

As an example, given a workflow:

I'd like to download a list of t

[2018-01-23 09:56] ljay79 commented on #53
Hi @julieelman
this issue sadly is solely caused by my add-on and has nothing to do with any possible Jira plugins like Tempo.
However, i believed i had just few days ago released a fix for this issue.

Explanation of the issue:
When generating a issue list with column "Epic", the add-on uses a time-based trigger, in order to afterwards converting all the Epic cell values into Epic name with Linkt

[2018-01-23 10:03] ljay79 commented on #54
Hi @steve-purkis-inviqa  thanks for your feedback.

Unfortunately i doubt i can implement something like this.
I do have my own little expirience with time reports via API with Jira, and i can tell you, it is simply to extensive data and api requests, that it would work efficiently within the limitations of google sheet app scripts.

For such heavy time reports, i can recommend to take a look at J

[2018-01-23 10:06] ljay79 commented on #55
Hi.

Looks like this feature request would depend on #54 and therefor get same declinal sadly.
If not, i might not really understood the request and hope you can elaborate it more.

[2018-01-23 10:07] ljay79 commented on #49
So you have created a custom Jira field of type "User"?
I will have a look into this...

[2018-01-26 12:26] ljay79 commented on #49
@JiraFun can you specify please what custom field you use for that in your jira instance?
![custom-field-user](https://user-images.githubusercontent.com/12184976/35439771-90ffe8f8-029c-11e8-9131-2410e632b27e.jpg)

[2018-01-26 16:46] ljay79 commented on #49
I have just released version v0.20.3.
Have added support for multiple new custom fields, including "User Picker (single user)" and "User Picker (multiple users)".
Maybe thats the field you are looking for.
Pls check

[2018-01-28 21:59] JiraFun opened #57 "Problem with automatic schedule and refresh data now function"
2 questions.

1) When I configure the connection under Jira Add-Ons it looks fine.
  i) connection is established
 ii) I can see and configure custom fields
 iii) I can select a filter and it will populate on the selected page as expected

When I

Question 1.
Using the wizard - it asks to define a issue type (store, epic or bug) - what would the syntax be if I have issue types with spaces and brac

[2018-01-29 08:31] ljay79 commented on #57
Hi @JiraFun

1)
As far as i know, the special characters in the Epic/Issue name should not cause any isses with the Sheet Add-on.

2)
Can you post the error message.
Could you also maybe activate Debugging in the "About" dialog and post me your temp user key, this way i can trace a little in the stack driver logs.

[2018-01-30 16:36] steve-purkis-inviqa commented on #54
Hi @ljay79, we currently use [Tempo](https://marketplace.atlassian.com/plugins/is.origo.jira.tempo-plugin/cloud/overview), which is ok for exporting via CSV, but I'd prefer to automate it :).  I appreciate it's not something you'll be able to take on.

[2018-01-30 16:36] #54 closed

[2018-01-30 17:18] ljay79 commented on #54
Yeah sry. Just based on my experience with it during the development of this add-on, I wouldn't know how to handle such amount of data and api request needed for it within the limitations of google app script.

Thx for understanding. Hope this add-on can still be benificary for you.

[2018-01-30 17:21] ljay79 commented on #55
I will have a look into it soon and come back on that.

[2018-02-06 13:39] vivida01 commented on #53
Hello,

I'm also running into this issue with the latest version v0.20.3.
I am using a self hosted server, filtering ~100 issues,. Custom fields are Epic, Sprint, and Story Points. Something else that may make a difference is the fact that I am using a Google for Work.

For the short term, (assuming everyone is having this issue), I believe it would be better to provide the option to pull in the E

[2018-02-07 10:04] ljay79 commented on #53
Thanks @vivida01 for your report.

If you like, you can go to the "About" dialog and turn "On" the Debugging . Then please post me your shown "Temp. User Key". This will enable the add-on to log debugging information to my google stack driver account.
It will not log or transfer any sensitive data from the Jira Settings dialog.

Once debugging is active, please reproduce/force the error so i will

[2018-02-09 13:12] Abrooks935 opened #58 "Unable to remove Custom fields in Configuration"
Steps to replicate

1. Create a custom field in JIRA
2. Go to Add on in sheet and select configure custom field
3. Choose Custom field
4. Select a list issue from filter
5. View Results
6. Delete Custom field in JIRA
7. Return to results and delete original results
8. Select same filter

Results
Error stating that Custom field cannot be found

Expect Result
results are returned

What's more frustr

[2018-02-09 18:43] ljay79 commented on #58
Thanks for the details report. Will check and see how to fix.

[2018-02-09 19:05] ljay79 commented on #58
The filter results are still fetched inserted correctly - this part i cant reproduce / no issues to find.
Could you maybe activate Debugging in "About" dialog, provide me your "Temp. User Key" and reproduce the issue.

The part of the Configuration dialog i can indeed reproduce. I simply do not handle this case of removed custom fields yet :)
Will add handling for this.

[2018-02-09 19:35] ljay79 commented on #58
The which was preventing you from removing these deleted custom fields from the favorites is now solved. Update is beeing release in google and will rollout soon.

As soon you can reproduce the other problem that you cant get any results from filter pls follow above request with enabling debug.
In fact, i tested the script and Jira API, its not even an issue when requesting the filter with totally

[2018-02-09 19:36] ljay79 commented on #57
closed due to lack of information and activity.

[2018-02-09 19:36] #57 closed

[2018-02-12 13:41] ljay79 commented on #58
FYI: New update isnt yet released, Google is apparently still reviewing it and did not released it yet.
Expected Add-on version: _0.20.4_

[2018-02-15 06:58] Whynot23 opened #60 "Custom Fields - add Status and Resolution (Workflow Elements)"
Feature Request Pretty Please

[2018-02-18 17:57] ljay79 commented on #60
Hi @Whynot23
please check, the requested 2 Jira fields are part of the default supported fields and can be found in the dialog when listing issues from filter.

![status-resolution](https://user-images.githubusercontent.com/12184976/36355061-825c9fbe-14dd-11e8-8302-2cbd853803fa.jpg)

[2018-02-18 17:57] #60 closed

[2018-02-18 18:17] ljay79 commented on #58
@Abrooks935 can you confirm, the issue with removing custom fields has been solved?

For the other issue, please follow the instructions i provided above in order for me to investigate further.

[2018-02-20 11:53] Abrooks935 commented on #58
Hey, all good thanks for sorting this out :-) Apologies for the delay

On 18 February 2018 at 18:17, Jens <notifications@github.com> wrote:

--
Andy Brooks
SVP of Projects
Green Man Gaming

[2018-02-21 18:35] ljay79 commented on #53
Hi @julieelman and @julieelman good news i believe.
The latest released and available version 0.21.0 is out.
In this version i have refactored the handling of EPIC fields. Instead of the problem causing time based triggers the add-on is now using a custom function.
This is much more performant and fail safe.

Pls try it out and let me know, if this issue can be considered solved/closed.

[2018-02-23 21:15] jennychiu opened #63 "What does Refresh Ticket Data really do?"
HI,
What does Refresh Ticket Data really do?
I pulled a list of jira tickets with custom fields into a sheet, and then updated some of the information in the custom fields within Jira. Then, I wanted to refresh the sheet with the updated info so I clicked on the Refresh Ticket Data button but nothing on the sheet was updated. Is this a bug? Am I doing it wrong?

[2018-02-23 22:13] ljay79 commented on #63
Hi.
Try following to discover.
Open a new sheet, enter any if your valid issue id e.g. "JST-123".
Then use the action "Refresh Ticket Data".

For more details check the Readme here in GitHub. https://github.com/ljay79/jira-tools/blob/develop/README.md

[2018-02-26 14:59] simonjaz opened #64 "jira-tools not available in google Add-on's"
Not available on google Add-on's. Was removed with purpose?

[2018-02-26 15:09] jennychiu commented on #64
I was wondering the same thing. It was still up last week and now it's not there.

[2018-02-26 16:53] ljay79 commented on #64
Hi.
No that is unintended for sure.
Will write Google to check for status and reason.

I could imagine, that due to me updating the Authors name last night, that this unknowingly initiates like a full reset and review of the add-on entirely.

Will let you know, as soon i have news.

[2018-02-26 18:32] ljay79 commented on #64
I emailed google and got already feedback.
Add-on is now back available, it only got stuck in their review queue they told me.

Thx for bringing it to my attention that fast.

[2018-02-26 18:32] #64 closed

[2018-02-27 10:32] #63 closed

[2018-03-09 00:39] chaycesol opened #65 "customize to search only in one column not whole sheet"
Hi! I'm new to API's and I love what you did here with this. Question is I was trying to edit the script off of what you based this off of https://gist.github.com/rtrcolin/4455097 and wanted to know how you can edit the script so that way it will only look for the "KEY-123" value in one column only (i.e. only specify to search Column A) vs looking at the whole sheet?

[2018-03-09 11:37] ljay79 commented on #65
Hi @chaycesol i guess this request then i better to put at the Repo from @rtrcolin .
I guess you would start editing the function _function refreshTickets(){_ so it would select only a specific range in your sheet to search for issue keys.
Like _sheet.getRange("A1:A")_
https://developers.google.com/apps-script/reference/spreadsheet/range

[2018-03-15 18:14] alexgarner opened #66 "Could not connect to Jira server"
Hi I am getting a 500 error when trying to set up the settings.

Hopefully, this tool will connect and I can get it to work as it looks great!

![image](https://user-images.githubusercontent.com/22801521/37482637-a3980170-287c-11e8-970b-04ff8dab2fde.png)

[2018-03-15 18:49] ljay79 commented on #66
Hi.

For logging in it usually requires a username rather then a email address.
Please try with your Jira username.

If it still wont work, please activate Debugging in "About" dialog, provide me your "Temp. User Key" and then perform at least one another try. This way it will log the error and information to my StackDriver logging account where i can analyze it better.
User credentials are not tr

[2018-03-16 09:33] alexgarner commented on #66
Resolved - thank you!

[2018-03-16 09:33] #66 closed

[2018-03-16 12:46] alexgarner opened #67 "Inconsistent data"
Hi - one more issue that has popped up.

I am getting considerable discrepancies with the reports - especially time reports. If I run the same query within moments I get different results.

See image (can you please shed any light?) - Notice the total amount of days is different. Each time I run the report I get different a different count and collection of tickets.

![image](https://user-images.g

[2018-03-16 12:49] alexgarner opened #68 "Active sprint"
When I run a report using the filters - which is exactly what I wanted to use - it does not seem to pull in active sprint data. And from a few spot checks, other closed tickets are not appearing. Can you shed any light - are we doing something wrong?

[2018-03-16 14:01] ljay79 commented on #68
What this import does, it uses a predefined filter and fetches all resulting jira issues. Regardless of any relation to a sprint.

It should return you a full list of all tickets in the sheet, which you would also get, when you view the exact same filter in Jira itself.

[2018-03-16 14:03] ljay79 commented on #67
Hmm thats a strange behavior and obviously not expected.
Could you please activate Debugging in "About" dialog, provide me your "Temp. User Key" and reproduce the issue.

Are you able to figure approx how many worklogs are related to the above 13 issues in total?
I could atm assume, there is an issue with the limitation of records per fetch.

[2018-03-16 14:12] ljay79 commented on #67
I do notice a few styling/formatting changes on the screenshot above.
To truely reproduce, please open a new clean sheet and create the report.

[2018-03-16 14:37] alexgarner commented on #67
"activate Debugging in "About" dialog"

I have done this and run the same report twice.

Cheers,
A

________________________________
From: Jens <notifications@github.com>
Sent: 16 March 2018 14:03
To: ljay79/jira-tools
Cc: Alex Garner; Author
Subject: Re: [ljay79/jira-tools] Inconsistent data (#67)

Hmm thats a strange behavior and obviously not expected.
Could you please activate Debugging in "Ab

[2018-03-16 15:00] ljay79 commented on #67
Thx. Will have a look at it later tonight.
Can you pls provide your temp user key as described above.

[2018-03-16 15:03] alexgarner commented on #67
AOrymO3okBl2S90wbO0px3EyvA+URwXBZoRVn2BgfDdpVwxygpqj6ct/xSdeUKowsvzFV1r6exui

________________________________
From: Jens <notifications@github.com>
Sent: 16 March 2018 15:00
To: ljay79/jira-tools
Cc: Alex Garner; Author
Subject: Re: [ljay79/jira-tools] Inconsistent data (#67)

Thx. Will have a look at it later tonight.
Can you pls provide your temp user key as described above.

—
You are receivin

[2018-03-16 16:03] ljay79 commented on #67
At a first sight there is one error during the retrieval of all data.
For the jira issue "19392" the add-on is unable to retrieve any worklogs as it returns an error "Unauthorized".
(https://raremark.atlassian.net/rest/api/2/issue/19392/worklog)
Can you try to access that URL in same browser where you are logged in to Jira and see if it returns anything. And/Or go to Jira and get view the related

[2018-03-16 16:29] ljay79 commented on #67
2 other things;

a) the logs show me, you appear to run an Add-On version 0.21.1 while the latest version available in google app store is: _v.1.21.2_

b) During your activity using the add-on it perform multiple api requests to your Jira instance. Every now and then the logs show random failed request with error *500 Unauthorized*.
This isnt normal, however even Jira Cloud Service is not 100% per

[2018-03-16 17:05] alexgarner commented on #67
Thanks, Jens.

Best,

A

________________________________
From: Jens <notifications@github.com>
Sent: 16 March 2018 16:29
To: ljay79/jira-tools
Cc: Alex Garner; Author
Subject: Re: [ljay79/jira-tools] Inconsistent data (#67)

2 other things;

a) the logs show me, you appear to run an Add-On version 0.21.1 while the latest version available in google app store is: v.1.21.2

b) During your activity

[2018-03-18 11:59] ljay79 commented on #67
I have analyzed your logs more deeply. When fetching the worklogs for the individual related jira tickets, it has random failures where your Jira instance fails with an authorization error.
There isnt much i can do from my side atm, as it is unclear why the used Jira instance would fail with such reason during one of many calls.

The only thing i will be able to do atm, i will see how i can make s

[2018-03-18 17:24] alexgarner commented on #67
Thanks for investigating. I agree with your solution.

If you send a request to fetch the total count of issues available based on criteria provided then a simple COUNTA of the total issues received would quickly highlight any discrepancies.

I'll have a look at installing and reinstalling the app.

A

________________________________
From: Jens <notifications@github.com>
Sent: 18 March 2018 11:59

[2018-03-19 19:07] ljay79 commented on #67
@alexgarner since today a new updated version 0.21.3 is published and available.
It wont really fix your issue, however it should now list the jira issue even when it failed to retrieve worklogs and add a note to the cell with the error message.

This way, it is at least transparent to the user, in case any issue occurred while creating a time report.

Please let me know, if you find out anything

[2018-03-19 19:54] ljay79 commented on #68
Could you figure what was the reason for not matching your expectation? Did you solve this?

[2018-03-19 19:54] ljay79 commented on #65
closed - wrong repo for this request

[2018-03-19 19:54] #65 closed

[2018-03-20 22:19] ljay79 commented on #53
@julieelman did you give the add-on a second chance? :)

The latest version do handle EPIC data differently now and your mentioned error should not occur anymore.
Please let me know, if this issue is solved and can be solved.

BTW: I would love a rating and feedback for the Add-On in google sheet add-on store.

[2018-03-21 13:44] alexgarner commented on #67
Thanks, Jens.

I will have another look today.

Best,

A

________________________________
From: Jens <notifications@github.com>
Sent: 19 March 2018 19:07
To: ljay79/jira-tools
Cc: Alex Garner; Mention
Subject: Re: [ljay79/jira-tools] Inconsistent data (#67)

@alexgarner<https://github.com/alexgarner> since today a new updated version 0.21.3 is published and available.
It wont really fix your issu

[2018-03-22 21:34] ljay79 commented on #68
closed due to inactivity

[2018-03-22 21:34] #68 closed

[2018-03-22 21:35] ljay79 commented on #53
closed and considered  solved given the fact that triggers are refactored and not used in latest versions anymore.

[2018-03-22 21:35] #53 closed

[2018-03-26 19:40] ljay79 commented on #67
Any update?

[2018-03-27 08:56] knorrre commented on #66
I am getting a 500 error, too.
Some accounts are synced with GSuite but not the one I am using for login.
Login in website works fine (with username, password) and all projects are shown ansd the user is jira-admin and site-admin So no problem with rights.
Any Ideas?

[2018-03-27 11:08] ljay79 commented on #66
Hi.
I cant find your comment in GitHub - did you deleted it already because you
was able to solve your problem?
Otherwise, please comment on the ticket again so i can follow up there.

Please review the Readme first, in section "Known Issue".
https://github.com/ljay79/jira-tools#known-issues

This might help with your authentication problem.

2018-03-27 10:56 GMT+02:00 knorrre <notifications@githu

[2018-04-04 17:54] fabri0406 opened #71 "Issue refreshing ticket data"
Hi! I´m having this problem, after listing issues from filter, if I update on JIRA for example the summary, asignee, status, etc, when I select the refresh ticket data nothing happens on the spreadsheet, all the fields remain the same. Is it a bug? is there any workaround? Thanks in advance!

[2018-04-18 17:08] buhpasca opened #72 "Login with Google"
We use the "login with google" button on the jira website. So I have no password and it's therefore not possible to use your tool (?)

[2018-04-18 17:55] ljay79 commented on #72
Hi @buhpasca

Yes it is possible to use this add on even in your case.
We/me doing the exact same.

Please see the readme where the solution is described.
https://github.com/ljay79/jira-tools/blob/develop/README.md#known-issues

[2018-04-18 18:01] buhpasca commented on #72
Hi Jens

Wow thanks for your very fast reply! Will test it out tomorrow. :-)

------ Originalnachricht ------
Von: "Jens" <notifications@github.com<mailto:notifications@github.com>>
An: "ljay79/jira-tools" <jira-tools@noreply.github.com<mailto:jira-tools@noreply.github.com>>
Cc: "Buholzer Pascal" <pascal.buholzer@mavt.ethz.ch<mailto:pascal.buholzer@mavt.ethz.ch>>; "Mention" <mention@noreply.github

[2018-04-18 20:37] buhpasca commented on #72
Nice Jens it worked like a charm :-)

------ Originalnachricht ------
Von: "Jens" <notifications@github.com<mailto:notifications@github.com>>
An: "ljay79/jira-tools" <jira-tools@noreply.github.com<mailto:jira-tools@noreply.github.com>>
Cc: "Buholzer Pascal" <pascal.buholzer@mavt.ethz.ch<mailto:pascal.buholzer@mavt.ethz.ch>>; "Mention" <mention@noreply.github.com<mailto:mention@noreply.github.com>>

[2018-04-19 12:40] mattdotroberts opened #73 "No data showing in sheet"
Unclear what I am doing wrong? Connected OK but no rows/columns updated. Just an empty sheet

[2018-04-19 17:52] ljay79 commented on #73
Did you try to insert issues from filter? Anything? Any error or other feedback?

[2018-04-19 18:02] ljay79 commented on #72
Im glad it works. I close this issue now.
Feel free to open an new issue in case you have any problems.

I do appriciate, if you submit a review in the google add-on marketplace - maybe after you tested it a little bit more.

[2018-04-19 18:02] #72 closed

[2018-04-25 19:49] pmcarter3rd opened #74 "Missing data from custom field"
I created a custom field called "Sprint",  ran a filter and selected Sprint.  The sprint name is returned randomly.  Some issues contain the correct sprint name and others don't.  I've noticed in Jira when listing a "Sprint" it sometimes contains more than one value - don't know if this is causing the issue?

![jira-1](https://user-images.githubusercontent.com/38145143/39269231-2cec913c-4887-11e8-

[2018-04-30 16:50] ljay79 commented on #74
Hi @pmcarter3rd thx for taking the time to report the issue, i will have a look at it as soon i get a chance.
If you could pls activate debugging, provide the shown temp user key and run a report with such issue again, this would provide me with some insights in the underlying requests and data fetched.

Btw: What field type is your custom field "Sprint", as you configured it in Jira custom fields

[2018-04-30 16:52] ljay79 commented on #73
Thx @mattdotroberts im glad you figured it out.
I will check why this happens and in if thats normal operation in the api, then certainly update the guide / help.

[2018-04-30 16:52] ljay79 commented on #67
closed due to inactivity

[2018-04-30 16:52] #67 closed

[2018-05-02 00:18] csherrard opened #75 "Support Google Auth"
My organization uses Google Auth for single sign-on to Jira.  It would be nice if Jira Sheet Tools allowed for g-auth sso.

[2018-05-04 19:45] Rygression commented on #74
This is really great. Having trouble getting two custom fields to show up for a query with only ~10 results. Any idea if that's related to the above?

[2018-05-06 19:03] ljay79 commented on #74
Hi @Rygression what query are ou using. Could you pls open a new issue and describe your problem in detail.

[2018-05-06 19:05] ljay79 commented on #75
Hi , pls check out the readme in section 'Known Issues'
https://github.com/ljay79/jira-tools#known-issues

Let me know, if it solves your issue.

[2018-05-06 19:05] #75 closed

[2018-05-07 16:06] csherrard commented on #75
Thank you so much @ljay79 !!  my team is going to **LOVE** this addon.

[2018-05-10 19:29] julieelman commented on #53
Thank you for your assistance, I apologize for the delay in getting back to you! I am not currently experiencing this issue. Great work on the Add-On!

[2018-05-11 09:49] rvallenduuk opened #76 "Missing Field: Resolved"
Resolved (Date field) is shown in your Jira field map but is not available to select in List Issues from Filter.
It's a system field, not a custom field.

[2018-05-14 16:47] hudeldudel opened #77 "API Tokens for Jira access"
Instead of setting a password for G-Suite synced accounts, you may recommend to generate an API Token instead. This is better security and also works for Jira accounts with two-step verification enabled.
https://confluence.atlassian.com/cloud/api-tokens-938839638.html

I tried jira-tools with an Jira Cloud API Token and it worked fine. Simply paste the API Token into the password field in the Jira

[2018-05-14 19:59] ljay79 commented on #77
Thx @hudeldudel , will try this asap and then probably offer as a solution.

[2018-05-16 09:04] coswiz opened #78 "Unable to create time report"
Hello and first of all thanks for developing this tool!

I'm using a Jira server, from where I was able for example to get the list of issues from a filter.

I encounter an issue when trying to create a time report. Briefly, the user drop-down is not populating and I'm getting the error informing that no users were found to match my search.

Here's the console log:
`Vn {message: "There was an erro

[2018-05-16 12:02] ljay79 commented on #78
Hi @coswiz

i can only assume an issue due to privacy or api incompatibility to server version for fetching list of users.

Could you please activate Debugging in "About" dialog, provide me your "Temp. User Key" and reproduce the issue.

[2018-05-16 12:18] ljay79 commented on #76
Thx @rvallenduuk for pointing that out. Will have a look and see if/how to support it as a default system field.

[2018-05-16 14:41] coswiz commented on #78
Hi @ljay79, here's the Temp. User Key: AOTQZS3/fm0qmpUfaG67OByCmYqMPlVYYPP/mLtYigigAz0tPAH6E/mIaK0lfCoyBGKMO0euvXOu

[2018-05-17 13:37] guenthersehn opened #79 "JST_search returns "Error: [-1] - Internal Error! No Jira Settings. (line 147)""
Hello,

I am using: "=JST_search("status = Done", "key,status", 5)" on A1. Tried many other queries but none work.

However, List from Filter and other stuff, refresh, etc, all work.

Thanks!

Guenther

[2018-05-17 20:16] ljay79 commented on #79
Strange... Did you try closing google sheet and reopen it again, making sure all jira settings are still saved and then perform the search again.

[2018-05-17 20:36] ljay79 commented on #78
I took a look and sadly, so far, i could not identify a possible issue or the reason for this.
Pls check permissions to browse users for the account you are using with google sheet.
If its same account you generally use, pls test and see if you get anything returned from the api when you manually call it as follows.

Log on to jira in your browser, then open a new tab in same browser and call foll

[2018-05-17 20:44] ljay79 commented on #76
Hi @rvallenduuk , i have identified the system field and could add support for it as part of the "System columns" for the "List issue from Filter" feature.
Will update you here again in a few days, when i have rolled out an add-on update.

[2018-05-17 20:46] ljay79 commented on #74
@pmcarter3rd any update on that issue to my question(s) https://github.com/ljay79/jira-tools/issues/74#issuecomment-385458474

[2018-05-18 05:13] coswiz commented on #78
Hi @ljay79 , I'm getting an empty json `[]`. I checked also on a local Jira server, where I am an admin, and still the same result...

Most likely this is not possible on the server version? I've found this issue: https://jira.atlassian.com/browse/JRASERVER-29069

Any possible workaround?

[2018-05-18 06:58] ljay79 commented on #78
What version of Jira Server are you using?

[2018-05-18 07:07] coswiz commented on #78
JIRA v7.6.1

[2018-05-18 10:34] ljay79 commented on #79
Yeah you are right, just wanted to make sure :)

I have currently no slight guess what it could be.
As this error is thrown deep in a generic API Call request which is used for all api requests.
So it should either throw this error everywhere always or never.

Just some thoughts / guesses and questions:
- what Jira service are you using? Cloud or Server? If Server, what version
- is this sheet a s

[2018-05-18 11:47] guenthersehn commented on #79
1 - Server
2 - It's shared but it is using my credentials. Actually, I asked someone else to open the spreadsheet, install the add-on, configure for the same Jira but with his credentials, and everything worked exactly like mine (List from filter is working fine, but JST_search is not).
3 - Nope because since the normal List from Filter is working I thought it wouldn't make any difference.

Debug

[2018-05-18 13:17] ljay79 commented on #79
Thx for sharing these info.
I can see (for your user key) only successful requests for "list issues from filter". But the described error is not part of it.
I can these error for a different user only.

After you enabled debugging, did you tried the "JST_search()" method?

Please also do uninstall the add-on and reinstall it afterwards again. It wont change / alter your current sheet, so dont be a

[2018-05-18 13:50] guenthersehn commented on #79
Yes, I executed after debug was turned on.

I also uninstalled the addon, closed the spreadsheet, opened, reinstalled, etc, but it didn't work.

BUT, I just created a blank spreadsheet, inserted the JST_search and... it worked. So right no, in the new spreadsheet it works, and in the other one it doesn't regardless if I create new sheets or not.

[2018-05-18 15:16] ljay79 commented on #79
Can you remember, how the Add-on was used first time with the non-working sheet?
Did you yourself created a new spreadsheet and installed the add-on yourself or did someone else...

It seems as something got mixed up during share, setup and so on.
Its just a very rough though but its very strange its isoleted in 1 spreadsheet for you and that i can see your successfull logs under a fully different

[2018-05-18 16:04] guenthersehn commented on #79
Yes I will try to figure out what's going on. Anyway, I just found out this query is limited on 100 records, which doesn't work for me... I need more. Basically what I really want to have is one simple sheet with all my jira tickets and fields so I can do some VLOOKUPS and QUERIES in other sheets... and I wanted to create a button or something to easy update the Jira list anytime I want. With this

[2018-05-18 16:36] ljay79 commented on #79
I can feel your pain, after all this trouble now it works but it isnt what you need.
This little query function is however limited to 100 results max. To get more, the filter feature is your best bet atm.

Read more about hte limitations and reasons here: [README](https://github.com/ljay79/jira-tools#jst_search)

[2018-05-18 17:30] guenthersehn commented on #79
No problem, your plugin is already helping me.
The filter works for me, the biggest problem is having to thru “Add-ons" > “Jira Sheet Tools” > "List Issues from Filter" every time, and select fields again, etc. I just needed a way to execute that in a more automated way.

[2018-05-18 18:08] ljay79 commented on #79
Yeah, im with you but some of the limitations of google also did surprise me even i technically understand them.
I dont know how many jira issues you intend to import and how many columns, but we could workaround it.
Would it help, when you would be able to define a start position in the JST_search() because then you could create one sheet, with multiple JST_search queries side by side. Manually p

[2018-05-18 18:21] guenthersehn commented on #79
Yes, I think that would be great if we can add start position in the function.... then I can run as many as I need, put them all inside a query, etc. In my specific case, I won't need more than 1000 lines probably.

[2018-05-19 21:35] ljay79 opened #80 "Script delayed waiting for quota"
To many (10+) custom functions like _JST_search_ causing the add-on to hit google limitations.

[2018-05-19 22:26] ljay79 commented on #80
Will implement [Cache Service](https://developers.google.com/apps-script/guides/services/quotas) to highly optimise the overly extensive and heavy use of the Properties Service.

[2018-05-20 20:50] ljay79 commented on #79
Hi @guenthersehn
i actually was able to find one way to reproduce such issue and aso understand now why.
Cant tell for sure if this is reason of yours but im pretty sure.

Custom functions in google work quite different then the rest of an add-on script. It has other auth scopes and different lifecycle.

I noticed; the custom functions basically are owned by the user who owns the spreadsheet.
If t

[2018-05-20 20:53] ljay79 commented on #79
PS: Please be aware, that when the sheets are shared, other users might be able to interfer with the custom functions / data output from them as all subsequent data is always fetched by using the current users credentials.

Sample:
JST_search() will always return the result of the user running the function at a time, updating the sheet, opening it or using re-calculate and overwrites data from oth

[2018-05-21 11:42] ljay79 commented on #73
Explanation for using filters improved in release [v0.23.0](https://github.com/ljay79/jira-tools/tree/v0.23.0)

[2018-05-21 11:42] #73 closed

[2018-05-21 11:43] ljay79 commented on #76
Support for "Resolved" field added in [Release v0.23.0](https://github.com/ljay79/jira-tools/tree/v0.23.0)

[2018-05-21 11:43] #76 closed

[2018-05-21 11:44] ljay79 commented on #77
README updated to recommend use of API Tokens.

[Release v0.23.0](https://github.com/ljay79/jira-tools/tree/v0.23.0)

[2018-05-21 11:44] #77 closed

[2018-05-21 11:46] ljay79 commented on #80
Script Storage implemented to decrease access to Properties server in [Release v0.23.0](https://github.com/ljay79/jira-tools/tree/v0.23.0). This also improved the performance of all add-on processing.

[2018-05-21 11:46] #80 closed

[2018-05-22 05:27] coswiz commented on #78
Hi @ljay79, `.../jira/rest/api/latest/user/search?username=.` returns some user data.

[2018-05-22 07:50] ljay79 commented on #78
Thx @coswiz will incorporate this soon.
How about Groups, do you get any data when hitting following url: `.../rest/api/2/groups/picker?query=`

[2018-05-22 21:13] ljay79 commented on #78
Updated version with workaround (hope it helps - cant test it here) is now published to GAS.
Pending for approval from google.

[2018-05-23 15:55] guenthersehn commented on #79
Hey! Just wanted to report your changes worked very well by doing something like this:

={
JST_search("filter=myfilter", "key,summary,duedate,assignee,status", 100, 0);
JST_search("filter=myfilter", "key,summary,duedate,assignee,status", 100, 100);
...
}

Then it works just like if it was only one call. My next goal dive deeper and see if there is anyway to automate this "command repeat" that I ha

[2018-05-23 17:37] ljay79 commented on #78
@coswiz tge updated version is released, pls enable debugging, provide me the user key and try to create a time report for a user. Fingers crossed, you can now select users.

[2018-05-23 18:56] lebryk commented on #78
@ljay79 Hi. I just installed add-on and have same problem. It is looks like it's still not working correctly. BTW in add-on OVERVIEW before install I see there is version: Jira Sheet Tool v0.23.1 but when I installed and go to "About" dialog the version is v0.23.0

PS: Thanks for your great work with this :)

[2018-05-23 19:17] ljay79 commented on #78
Thx, i can see, it did not really help but there is also another glitch which interfers with my workaround. Have to go another round :) and will update you when ready. Thx for being so patient.

The version in the About dialog is shown from code, as i cant retrieve a real GAS version dynamically.
I always have to update it manually - and this time i forgot it. :)
So you do actually have the latest

[2018-05-23 19:38] ljay79 commented on #79
Great to hear that im getting closer to make you satisfied :)

### Filter sort
I didnt researched much about this yet, but i can tell you that the JQL is passed to JIRA api straight without interferring with it. As such i believe that the api is ignoring sort definition of stored filter.
If this is intended or an bug in the api, i will have to research.

### Long click path..
As mentioned before,

[2018-05-23 19:38] #79 closed

[2018-05-23 20:58] ljay79 commented on #78
Have pushed a tweaked update v0.23.2. Lets wait for Google to approve and release it, then please give it another try with debugging on.

[2018-05-24 16:46] ljay79 commented on #78
Awesome, im glad we could get it working. Hope you like the add-on and maybe leave a review inside the GAS (Google Addon Store).

I will close this issue now as solved. Feel free to add further comments or open a new issue when you have any trouble.

[2018-05-24 16:46] #78 closed

[2018-06-03 17:28] ljay79 commented on #74
Closed due to inactivity / not reproducable

[2018-06-03 17:28] #74 closed

[2018-06-06 11:10] mwahaj08 opened #85 "Limited Users"
Whenever I want to generate time reports I am able to see a limited list of Users. It only shows 50 users from my Jira.

[2018-06-07 05:29] mwahaj08 commented on #85
I understand your point @ljay79  we are currently deleting all the inactive users, hopefully, we will get rid all of them but for now its only showing 50 instead of 100. I will let you know if it still shows fewer users after removing inactive users. Thanks.

[2018-06-15 11:04] Astae31 opened #86 "Feature Request: Show newly added issues when refreshing existing filter data"
Hello @ljay79 ,

Thanks for this tool - really makes my life much easier. However, as I use the tool on a very frequent basis, I have to use "List issues from filter" every time I want to include newly created Jira issues. It would be great if there was a feature that allows me not only to update the issue data itself but also automatically add new issues that apply to my filter instead of having

[2018-06-15 13:52] ljay79 commented on #86
Hi @Astae31

thanks for using that Add-On and for posting a feature request.

Automatically pulling updates from JIRA sounds like a nice fancy feature.
I would concider this as an heavy new feature in my Add-On.
Surely i will keep that on the Feature Request, but also do not want to give you to much hope yet, it might take a lot time before this will be implemented.

If you know other developers o

[2018-06-18 00:16] YuraLukyanov opened #87 "Feature: ability to connect to local jira servers"
Hello,

It will be great, if the plugin has an ability to connect to local jira servers.

Thank you,
Yura.

[2018-06-18 08:34] ljay79 commented on #87
Hi.

This can only work, when your local jira installation is accessible from outside / public internet.
This add-on lifes within Google Sheet, as such it is executed on google servers which can not connect to a closed local network.

[2018-06-18 08:34] #87 closed

[2018-06-22 01:13] MoSoKh opened #88 "Auto update the JIRA Status at regular intervals of time??"
Thanks for the great add-on. Can we get an enhancement?
is it possible to auto update the JIRA Status in the sheet at regular intervals of time? Currently we need to manually select "Recalculate all formulas", can we get it updated automatically?

@DanielKulbe @fiskr @ljay79

[2018-06-22 17:52] narvek opened #89 "Can't connect to self-hosted Jira - Error 500"
We have a self hosted Jira.  I've used our https address to try to connect, using the user/pw that I use to connect to Jira, but am receiving an error 500.  I've turned on debugging, Temp. User Key:
AG3SVdnnYwlEEf4WhKu29b2uQYtqi6g5yLPvqVoETwdUBtEQuXPV4iCepMnr5ymV8ErcULHRYW1j

[2018-06-24 13:54] ljay79 commented on #88
Hi @MoSoKh thx for your feedback.
I will flag this issue as a feature request. Cant tell if and when i will get to that implementation.

[2018-06-24 13:57] ljay79 commented on #89
Hi @narvek

Are you trying to connect to your Jira instance with URL _https://jira.sccoe.org/_ ?
This appears to be a not publicly routed domain.
I am getting DNS errors when trying to open it in a browser.

Google add-ons (like this here) will only work with public hosted and reachable services.

[2018-06-25 04:48] narvek commented on #89
Oh my. Yes you are right. Will have to see if I can white list. Thanks. And apologies for such a rookie mistake.

On Jun 24, 2018, 6:57 AM -0700, Jens <notifications@github.com>, wrote:

Hi @narvek<https://github.com/narvek>

Are you trying to connect to your Jira instance with URL https://jira.sccoe.org/ ?
This appears to be a not publicly routed domain.
I am getting DNS errors when trying to ope

[2018-06-28 21:43] phyllisz commented on #89
Hi,
  I have this same error. My colleague was able to get it setup but I'm getting this error 500.

temp user key: AG3SVdlne3SKQiqDRg/LBAlKA4bhCWoxgRQZMwWXNN7fRiy2FzDaoY7eQSSPvXlotQlKcegUKT8b

[2018-06-29 07:42] ljay79 commented on #89
Hi @phyllisz

I personally never saw a Jira cloud domain like "https://xxxx.jira.com".
What version of Jira are you guys running under that domain?

Your colleague is using the same Jira instance? May you ask him how he did connect successfully - using what settings and maybe even share the feedback here with me and other potential users with same issue.

[2018-06-29 23:36] phyllisz commented on #89
hmmm not sure, I can't find a version number for our JIRA cloud, I would assume it's just whatever latest is available since it's constantly updated from Atlassian.

Yup, we are using the same. I went over the setup with him and we put in the same values (aside from email/pswd).

Am I putting in the pswd wrong?
I write it [email]+[password] - and various combinations. I also tried the API token.

[2018-06-30 10:39] ljay79 commented on #89
To test the authentification with your Jira instance via curl, you can check the output of this:
[code]

Another thing:
To check if this issue is caused by your user account, have your colleage come over and test the connection with his login details. Afterwards you can remove the details again.

[2018-07-20 22:11] tcorman opened #90 "No refresh for filter?"
This is a really  beautiful thing, thank you for it. I might be missing something, but it looks to me like, if you populate a Google Sheet doc from a JIRA filter, it does not refresh if you reload the page, or close and reopen it. Is there a Refresh function, or do I need to delete and re-add the filter output to update the Google doc?

[2018-07-21 08:13] ljay79 commented on #90
Hi @tcorman

For data inserted into the sheet via the dialogs this is the intended and expected behavior. That plain data can not be refreshed and can only be overwritten by repeating the flow.

[2018-07-23 17:30] Gambles opened #91 "Last comment made in Jira Issue"
It would be amazing if you could somehow always grab the last comment made and pull into the Google Sheet.

[2018-08-09 00:02] vivicf0312 opened #92 "Is it possible to refresh all fields when clicking "Refresh Ticket Data"?"
My first thought when running that option was that all fields were going to refresh, instead I have to List issues from filter again.

[2018-08-13 10:59] ljay79 commented on #92
Thx for your feedback @vivicf0312
I will think about how to rename that menu item.
A full sheet update on plain text cells is however not possible to implement as there is no reference to any individual jira data possible to store within the sheet, beside the plain text inserted into each cells.

[2018-08-24 19:00] jckutz opened #93 "Sprint Data Not Exporting Consistently"
When using the "List Issue From Filter" functionality, and the Custom Column Sprint field from Jira, I am noticing that some issues do not have Sprint in my export, even though in Jira they do have a Sprint value (current sprint or future sprint).  I adjusted my filter to order by sprint, and I'm now seeing that exactly every other record contains a sprint value, the rest do not.

I'm using JIRA c

[2018-08-26 08:21] crlazar opened #94 "Custom fields"
Hello,

While trying to retrieve the JIRA tickets I'm unable to retrieve Custom Fields from specific filters while in others that is possible.
The custom fields are support and in a date / time format.

Any idea why?

Thank you.

[2018-08-29 15:40] ljay79 commented on #94
Hi @crlazar
how do you try to retrieve the data? Is it maybe related to #84

[2018-08-29 15:42] ljay79 commented on #93
Hi @jckutz

if you dont mind, pelase activate Debugging in "About" dialog, provide me your "Temp. User Key" and then perform at least one another try. This way it will log the error and information to my StackDriver logging account where i can analyze it better.
User credentials are not transmitted in any log data.

[2018-08-29 15:43] #90 closed

[2018-08-29 15:44] ljay79 commented on #89
@phyllisz did you had any luck yet? And further insight? Other wise i would close this issue.

[2018-08-29 17:51] jckutz commented on #93
Hi @ljay79 . Thanks for the quick response. I ran it a few times with debug on, here is my Temp User Key: AH64fx0p5ZMMqZ/F3TaacEs+ZowM9xAcni30Ibx4QCVuHlUoSTfArw6P3KEj0Nxav+sbJI0OQb7M

Thanks for looking into this, great tool by the way, simple but helpful!

[2018-08-29 19:11] crlazar commented on #94
Yes via dialog, List issue from filter.

[2018-08-29 21:16] vkethu commented on #88
Thanks for creating an awesome add-on. I am also waiting for an update with Auto Update enhancement.

[2018-08-30 15:44] PowerMarcello commented on #93
Hi,
we have the same problem, please help us.
Key: AH64fx1HH7gRj/4c4UoUEXm9f+1I9XaNHBRy4SE1S4sauTv7zqxLl/EqSnsxnTwmklJSK7hFMMuQ

[2018-08-31 20:27] ljay79 commented on #94
@crlazar i have tried to verify and reproduce your explained issue.
I do have 2 custom fields, one is of type "Date Picker" and the other "Date Time Picker".
Both are displayed correctly.

You mentioned, it works in some saved filter but not in all.
Can you please provide some more details on how i could try to replicate your specific circumstances.

ie:
- what is the difference in a filter that w

[2018-08-31 20:29] ljay79 commented on #91
In order to evaluate this feature request in the best way, could you please elaborate on what use case this could suit and how the result should look in the sheet. Maybe even elaborating on the purpose of this.

This will allow a better understanding to me.

[2018-08-31 20:34] ljay79 commented on #55
After reviewing this request i believe this is most likely already possible inside JIRA on the filter result page where it allows to download all results in different output format.

While this would be a very specific feature for a very specific and custom use case as i understand it atm, i do not see it as a good fit for this little add-on which focuses on a few most common use cases.

Sry, but

[2018-08-31 20:34] #55 closed

[2018-09-03 11:50] ljay79 commented on #93
Version 1.0.1 is now available via the GAS & Auto-Update which should fix the issue with Sprint value only showing up on every other record.

[2018-09-04 17:31] gnustavo opened #96 "Can't get favourite filters"
Hi there!

I'm using Jira Sheet Tools v1.0.1 with two Jira instances:

1. https://jira.cpqd.com.br (v7.11.1)
1. https://issues.cpqd.com.br (v7.11.2)

When I configure this add-on to use the first one everything works. However, when I configure it to use the second one it can't find any favorite filter of mine, showing me the following:
![selecao_174](https://user-images.githubusercontent.com/11399

[2018-09-04 18:38] phyllisz commented on #89
Hi,
  Nope didn't make any progress. I'll give it another try this week.

[2018-09-05 12:47] ljay79 commented on #96
Hi @gnustavo thanks for taking the time of preparing a detailed issue report.
The logs from your requests all look good. However i do not log any response data due to privacy reasons. At this point i can only say, that all of your underlying requests to the servers are successfully processed without any errors.

For your instance which has troubles:
- Make sure, at least 1 filter is marked as "Fav

[2018-09-05 12:49] ljay79 commented on #93
@jckutz , @blakenan , @PowerMarcello can you guys confirm that the bug with the Sprint data is now fixed since version 1.0.1 .

[2018-09-05 13:04] jckutz commented on #93
Hi @ljay79 , after several tests, it looks like the issues has been resolved. I'm also getting multiple sprint values if Jira has them stored that way.

Thank you for a quick turnaround!

[2018-09-05 13:04] #93 closed

[2018-09-05 16:05] ljay79 commented on #93
Im glad it works now.

[2018-09-05 17:05] gnustavo commented on #96
Hi @ljay79 , thank you for the detailed response.

Answering your questions:

- I have some Favorite filters configured in both instances.
- I really was testing both instances using a single Google Sheet. I was changing the Jira URL in the Settings windows back and forth to see what happened. One of the Jiras always worked fine and the other always give me errors. I didn't think I should not do i

[2018-09-05 17:42] ljay79 commented on #96
Sry forgot the URL, yes.
Here it is: "https://issues.cpqd.com.br/rest/api/2/filter/favourite?includeFavourites=true"

[2018-10-03 20:32] joeytrimmer commented on #96
Everything was working fine last week but suddenly yesterday the filters won't load anymore. It just blinks the text "loading filters" whenever I try to list issues.

[2018-10-04 09:46] ljay79 commented on #96
Hi @joeytrimmer

Has your JIRA permissions maybe changed recently which you are not aware of?
If you can not log in at all anymore, it usually indicates either:
a) your authentication details have changed in Jira / Atlassian
b) you might use Atlassian ID with App Tokens which do expire and require a reset
c) Google Services might have troubles - google services are quite frequently troubled but do

[2018-10-05 14:38] joeytrimmer commented on #96
Hi @ljay79 , thanks for the quick response. JIRA settings are all the same. I've narrowed the problem to the Chrome Browser though. When I used another browser the iframe for filters loaded just fine. Any thoughts? I have not installed any additional add ons.

[2018-10-05 15:40] ljay79 commented on #96
Interesting...  i mean, we know chrome / google isnt much more perfect than any other software and since they do so many updates each weeks they also do have temp. glitches.

If you are familiar with the chrome debug console, i would suggest to open the console (F12) and load the filter dialog (iframe), see if you can find any errors or other problems reported in the console.

PS: What version of

[2018-10-06 22:05] gnustavo commented on #96
Hi, @ljay79 . I'm sorry for the delay...

I entered the above URL and got some JSON results which I'll send to you via email.

I just tried the add-on on another Chrome profile which had never had it installed before. I installed it and configured it first to the Jira instance which is giving me problems. And I couldn't get its filters again. :(

[2018-10-10 00:35] gnustavo commented on #96
This is what appears when I select the **List Issues From Filter** option:
![2018-10-09-213239](https://user-images.githubusercontent.com/113992/46706498-18591d00-cc0b-11e8-8214-3aaaf642025b.png)

[2018-10-10 07:17] ljay79 commented on #96
Thx @gnustavo for giving me an account on your Jira instance. Indeed i can now reproduce the request for fetching any filters from your Jira instance returns empy response in the google add-on while it returns proper data in curl or browser...

[2018-10-10 13:40] joeytrimmer commented on #96
`Unrecognized feature: 'vibrate'.
userCodeAppPanel:2 Unrecognized feature: 'vibrate'.
2501790856-warden_bin_i18n_warden.js:55 Net state changed from IDLE to BUSY
2501790856-warden_bin_i18n_warden.js:194 Mo {message: "There was an error during the transport or process…this request. Error code = 10, Path = /wardeninit", name: "TransportError", stack: "TransportError: There was an error during the tr

[2018-10-10 15:33] ljay79 commented on #96
Hmmm... the only very concerning error is: _Uncaught Error: Authorization is required to perform that action._

The others are known issues from google and apparently happen on all tested devised with mutliple add-ons.

@joeytrimmer could you please enable the Debug option in the "About" dialog, provide me with the temp. User key and perform the same actions to reproduce the error again. I will ch

[2018-10-10 20:29] joeytrimmer commented on #96
@ljay79 temp key: AJP21zVDuZBHYCsAd8/8DogS1IsNeGIebb8i9ge7G+1cxVw3Mh6ibLaNuMh8S4O3IeBQwNMlpCB5

The Google Account is linked to my work email.

[2018-10-11 01:15] gnustavo commented on #96
These are our two Jira instances, as I mentioned in the first comment to this issue. You already have access to the "issues.cpqd.com.br" one. Both are "integrated" via [Application Links](https://confluence.atlassian.com/adminjiraserver/using-applinks-to-link-to-other-applications-938846918.html). That's why you see links from one to the other.

I'd guess this links aren't related to the problem.

[2018-10-11 08:15] ljay79 commented on #96
Hi Gustavo,

thanks for the 2nd account and i do appriciate your effort on helping me to
get the Add-On improved while collaborating on that issue.

I checked all i could from my end. Using curl and the browser, the "jira"
Instance works fine while the "issues" instance doesnt.
At this stage i would have to say, its an issue with the specific Jira
version on "issues.cpqd.com.br" or some settings o

[2018-10-11 12:40] sjonniej opened #97 "Macro in Google Spreadsheets"
Im not sure if it belongs here because it is not directly an issue for the tool.

When i try to make a makro it somehow won't work because there are no filters recorded when selecting. Whenever i use the recordfunction in Google Spreadsheet, he wont 'take' the filters.

`function updatetickets() {
  var spreadsheet = SpreadsheetApp.getActive();
  spreadsheet.getRange('A1').activate();
  dialogIssu

[2018-10-11 13:07] joeytrimmer commented on #96
@ljay79 Ok turned on debug mode again. Same key. Hopefully this works.

AJP21zVDuZBHYCsAd8/8DogS1IsNeGIebb8i9ge7G+1cxVw3Mh6ibLaNuMh8S4O3IeBQwNMlpCB5

[2018-10-11 14:42] ljay79 commented on #96
@joeytrimmer thats wired...
I still dont get any logs from you.
And no, its not expected behavior like you describe.

I can only guess, feels for me, like your add-on isnt installed properly or permissions of the add-on arent granted.
Any recent / special settings in your google account? Maybe some (new) restrictions from your domain admin of this work email?

Worth a try:
In case you have a prive

[2018-10-11 14:51] ljay79 commented on #97
Hi @sjonniej
you wont be able - for my knowledge - to create a macro or otherwise use an "internal" function from my or other add-ons.
Only specific "custom" functions, which are available for cell functions as well, can be called directly.

Sry to say, but i doubt you will be able to create a macro out of the add-on dialogs choices and interactions.

Did you tried my custom function "=JST_search(

[2018-10-12 13:03] gnustavo commented on #96
Hi @ljay79 . The issue you found regarding differences in the authentication are indeed very suspect.

I've never noticed them. Despite it, I have several scripts and systems interacting with both Jira instances via its REST API using Basic Authentication.

I'll try to figure out what causes the difference and report here whatever I find.

Thank you very much so far.

[2018-10-12 18:41] ljay79 commented on #96
Im glad you could find the issue. Hope you can now take benefit of the features of my add-on.

[2018-10-14 04:11] joeytrimmer commented on #96
@ljay79 I don't know what the problem was but I removed the add on again and re-installed it. It seems to be working again.

[2018-10-15 13:43] sjonniej commented on #97
Thanks for your answer. I will look at the custom functions, maybe it will help.

[2018-10-15 13:43] #97 closed

[2018-10-25 13:47] rake23 opened #98 "Custom Field which has checkboxes is not importing"
I have a custom field which has various checkbox options. This field is getting blank while importing. It should import all the selected options

Ex: Fix Category

- [ ] Issue Type 1

- [ ] Issue Type 2

- [ ] Issue Type 3

[2018-10-26 11:38] ljay79 commented on #98
Hi @rake23
i see, i can confirm this behavior. Will check what the cause is.

[2018-10-31 03:36] tsinggu opened #100 "Progress ..fetching result page 2/200"
I am getting a popup Progress.. fetching result page 2/200 while trying to fetch data using my own filter but not getting any results at all. The add on is giving me the list of all my filters so there is no connection issue.

Can you please help?

[2018-10-31 08:01] ljay79 commented on #100
Hi @tsinggu

if you dont mind, pelase activate Debugging in "About" dialog, provide me your "Temp. User Key" and then perform at least one another try. This way it will log possible errors and information to my StackDriver logging account where i can analyze it better.
User credentials are not transmitted in any log data.

[2018-10-31 16:28] tsinggu commented on #100
@ljay79 Here is the temp user key "AJP21zXXb2+MT32rnEoqchb1TgaLnHACNL4mDt/Q3f0JqML+VEHq7VbSieQLEcyNoDi8FjctRCTb". I have run the report again.
Thanks

[2018-10-31 16:58] tsinggu commented on #100
@ljay79 I got the results this time but it seems its not the results from the filter that I have chosen. It seems that it takes a lot of time to respond back because its trying to get data across all projects in JIRA. I tried with multiple filters and I am getting the same set of results which is incorrect.

Thanks

[2018-10-31 18:51] ljay79 commented on #100
Hmmm. sounds strange.
Regarding the "slow", are you using Jira on a self hosted server or the Cloud Service?
So far, multiple users having no issues with speed even with more result sets then yours.

About the results itself. If you getting results, that would be the data your Jira is returning for the Filter.
The sorting will differ even if you define a ORDER BY in your filter, the Jira API might

[2018-10-31 18:56] ljay79 commented on #100
BTW: I see a lot - i mean a lot - of logs from unsupported fields.
Try to use less custom fields.
The lookup of a format for all custom field is time and ressource consuming slowing down entire process.

Currently not supported fields i found from your logs:
versions
issuelinks
aggregatetimeoriginalestimate
lastViewed
subtasks
votes
watches
environment
workratio

[2018-10-31 20:57] tsinggu commented on #100
@ljay79 I am running these reports using only one custom field and have selected only 3-4 standard fields. The actual filter using JIRA only returns 40-45 records. The results are the same on every filter that I am have tried using the plug in and you are right, its returning a bunch of unsupported fields. Its actually picking up tickets from different projects as well. Its not at all matching wit

[2018-11-01 08:47] ljay79 commented on #100
Yesterday 10/31 between 16:25 and 17:58 UTC+0 i can see multiple dozends of thousands of log entires when it tries to format a response field (custom field) which isnt supported.
Looks like you used filter:
_id: 97551_
_name: LSTDEV Force_
The add-on basically will fetch the used JQL from the filter and then perform a search against your Jira with that JQL query.
For above Filter, the JQL appears

[2018-11-01 14:56] tcorman commented on #89
We're having the same 500 error with JIRA in the cloud. What's really odd is that it's specific to one user - the rest of us are configured identically and have no problem using Sheets Tools. One use, who is having no problems accessing JIRA in the browser, gets the 500 error when she attempts to configure Sheet Tools settings. Should the diagnostic curl command about work against a cloud JIRA ins

[2018-11-01 16:39] ljay79 commented on #89
Hi @tcorman

The above curl command would give a good indication of wether authentication for her works through api, yes.
`curl -D- -u <email>:<password> -X GET -H "Content-Type: application/json" "https://<xxxx>.jira.com/rest/api/2/dashboard"`

For further insight from my end, (on the affected users google sheet) please activate Debugging in "About" dialog, provide the your "Temp. User Key" and t

[2018-11-01 16:45] ljay79 commented on #98
@rake23 could you please confirm that latest add-on update did fix the issue. Thx

[2018-11-01 17:36] rake23 commented on #98
@ljay79
It is working great. Thanks for fixing so fast.

[2018-11-01 17:36] #98 closed

[2018-11-06 21:43] elliot-tan opened #101 "Get timestamp for status type?"
Hi, I was wondering if it were possible to grab the timestamp for when the status is changed, as opposed to just created/resolved/updated?

[2018-11-07 08:40] ljay79 commented on #101
Hi @elliot-tan i double checked, and i can not find any information on the API documentation or the actual response data which would indicate a timestamp of status change. Im sure, this isnt supported by Jira.

There is only a timestamp for last updated - meaning the last change on the issue ticket itself.

[2018-11-08 18:12] gnustavo commented on #92
I also thought that the "Refresh Ticket Data" would refresh all information for each issue. Then I realized it would only refresh the cells containing the issue keys when I read the documentation.

It's not a good name for the feature, it seems. ;)

I understand now that I have to reinsert the filter again to have everything refreshed. But it's annoying, since I have to reselect the filter and pos

[2018-11-08 18:18] gnustavo commented on #92
I took a further look at the closed issues and saw that there are a few ones related to this same issue: #90 #71 #63 #30. The #86 is also somewhat related.

[2018-11-08 18:20] gnustavo commented on #88
This feature would be awesome! :-)

[2018-11-09 10:02] ljay79 commented on #92
I understand the inconvinience and the use case for updating the entire results.
However, this isnt that trivial from tech point of view as well as it would not be able to respect possible cell editing made between two insertions. In this case it might conflict with other use cases.

I think i could offer 2 compromises:
a) I will for sure have to change the naming of the menu item "Refresh Ticket

[2018-11-09 18:38] gnustavo commented on #92
Thank you, @ljay79 . I couldn't ask for more.

I'd like to provide you with a PR but I'm not fluent in JavaScript. I'm sorry.

[2018-11-09 19:47] gnustavo commented on #92
I was reading the code and had an idea that I want to share.

The function ``insertIssuesFromFilter(jsonFormData)`` is responsible for inserting the results of a filter. What if you [set a note](https://developers.google.com/apps-script/reference/spreadsheet/range#setnotenote) to the "summary" cell containing a mark, a warning, and the original `jsonFormData`?

The _mark_ should be a unique string

[2018-11-20 10:09] mvervark opened #102 "Columns are swapped when refreshing sheet (option List issues from filter)"
Awesome add-on! Very happy with it!
I discovered a small bug though:

When I refresh the sheet with option 'List issues from filter', the columns B & C are swapped randomly.
Since I made some references in Sheets (VLOOKUP based on these columns),  the VLOOKUP gives sometimes the wrong information after refresh.
I would be very happy if this was solved.
Another question: How is the order of the col

[2018-11-20 11:11] ljay79 commented on #102
Hi @mvervark

I certainly can have a look on that.

In general, the columns/order of columns can not be defined in the JQL (filters).
The resulting order is based on whatever the JIRA api does return to the script. That might be the reason why its not always the same order - even it wouldnt make sense, that JIRA or anything would randomly re-sort the order.

Are these some specific columns/fields

[2018-11-20 19:50] ljay79 commented on #102
hmmm...  i tried to replicate and wasnt able to reproduce it.
Also reviewing the code and api data, nothing indicates atm that it possibly can be toggled randomly.

For further research i would like to ask you to enable the debugging in the About dialog, then reproduce the issue.
The temp user key i would need from you (About dialog) so i can look up the debugging logs here...

[2018-11-22 16:18] sleepercode opened #103 "Time Spent in hours for issues filter"
Hot to fetch Time Spent in hours for the issue filter sheet, currently it is only fetching in seconds.
![sheet](https://user-images.githubusercontent.com/6087214/48914062-a9621b80-ee7a-11e8-8389-24802190f386.PNG)

[2018-11-22 17:15] ljay79 commented on #103
At the moment you could only format the values into your desired format in another cell.
https://productforums.google.com/forum/#!topic/docs/2ok8gbIAe0M

Sample: add new column and enter a formula like "=<TimeSpent Cell coord here>/(24*60*60)" then use format of duration HH:mm:ss or similar. See above link where this is better explained.﻿

[2018-11-22 21:09] ljay79 commented on #102
I do expirience the issue as well now. Didnt noticed before. Will see what i can do to fix this.

[2018-11-23 11:29] sleepercode commented on #103
I know that i can format cell, but whats is the point of this addon. Time spent should be in hh and format 0.00.

I know where to edit the plugin it is in JiraCommon.gs line 470

**case 'timespent':**  // currently timespent shows in seconds

//Update to get time in hours
      case 'timespent':
      resp = {
            value : parseFloat(data.fields[attrib] / 3600) || null,
            format:

[2018-11-26 18:16] ljay79 commented on #102
@mvervark a new version 1.0.4 has just been rolled out today whch should fix this issue.
Please check if you can confirm. Thx

[2018-11-26 18:18] ljay79 commented on #103
Hi @sleepercode a new version has been rolled out today.
You should notice a new format of any time duration columns, hope this finds your like.
In settings you can still switch back to old format in seconds.

[2018-11-27 17:49] peter-cnp opened #105 "Custom fields not showing"
Hi,

The custom fields are not downloading any more but all other system fields are downloading fine. I've been using Jira Sheet Tools v1.0.4 with the same settings and the same jira list filter sets for a couple of weeks and this issue just started this morning.

Please help!

P.S. - I'd like to extend my deepest thanks to the developers who made this fantastic add-in!

[2018-11-27 17:50] ljay79 commented on #102
Ahh Ahh damn,  while reading I think I know why. Will fix asap

[2018-11-27 18:04] Paul0975 commented on #105
Hi ,
I too face the same issue and using version V.1.0.4.
Temp. User Key:

AEt9bgR6NdlbomtuXtSjObhnJDNDeuqZKms1TctuNPZXGbCSVIw+7PP/R+ni8JWhhzEZrEAockVV
Help the Authors find bugs faster by enabling Debugging when asked in your Github Issue (Bug Report).

Please help..

Thanks

[2018-11-27 20:08] ljay79 commented on #102
BugFix is submitted, i'll give you another note once Google has approved and is rolling out the update.
Was my bad = poor testing

[2018-11-27 20:14] ljay79 commented on #105
Yes, sorry.
The latest release had a bug.
I have just pushed a bugfix for this, and expext Google to approve and release it soon.

Bug is related to #102 and fixed with #106.

Very sorry for the inconvinience - was my poor testing on a rushed release.

[2018-11-27 21:59] peter-cnp commented on #105
The issue is fixed. I'm back in business!

Thank you so much!

[2018-11-27 21:59] #105 closed

[2018-11-28 11:05] mvervark commented on #102
Hi Jens,

It works perfectly again!
Thanks a lot!!!

[2018-11-28 11:06] mvervark commented on #102
Hi Jens,

It works perfectly now!
Thanks a lot!

[2018-11-28 11:20] #102 closed

[2018-11-28 11:22] #103 closed

[2018-11-28 12:08] ljay79 commented on #102
I would appriciate honest rating and/or review within Google Marketplace on my Add-on. 🥇 👍

[2018-11-28 12:08] ljay79 commented on #105
I would appriciate honest rating and/or review within Google Marketplace on my Add-on. 🥇 👍

[2018-11-28 15:07] Paul0975 commented on #105
The issue is fixed. Appreciate your quick response.

Thanks

[2018-11-28 21:18] tcorman commented on #89
OK, issues persists,  curl command works fine for both me and the user who is experiencing the 500 error. She has enabled debugging, I can send you her temp key if that helps.

[2018-11-29 14:15] ljay79 commented on #92
I was thinking and trying some things regarding this feature request.

First about your last suggestion.
a) it would make sense to store any Json data anywhere, as it would be still the *old* data of the table which isnt the goal
b) having marks/notes etc in some cells would still not allow a user to update it conviniently with a short click or shortcut key combo

- Custom functions have a big lim

[2018-11-29 14:21] ljay79 commented on #92
hmmmm above idea got a bummer already.
Macros do not record user interaction within a dialog or sidebar. So i would be able to open the sidebar via macro but it would never know which "favorite" option to choose and trigger...

[2018-11-29 17:00] tcorman commented on #89
I'm confused, though - if username/password was the issue, wouldn't the curl command fail?

[2018-11-29 17:33] ljay79 commented on #89
@tcorman yeah you're right lol. Confusing my self...  as you figured, i dont have any further clue what the issue could be.

In case you are firm, you can try same curl command with username/password encrypted base64 for basic auth. As this is the way, the add-on will request the api.

[2018-11-29 17:35] ljay79 commented on #89
@tcorman you tried uninstalling / reinstalling the add-on already?

And to be sure, the 500 error appears during editing the settings in my add-on, not somewhere else?

[2018-11-30 09:56] ljay79 commented on #89
Just in case you guys didnt tried yet... for curiosity...

The troubling user, should create a own personal completely new spreadsheet. No sharing.
Then reinstall the add-on, and try to setup connection etc...

I can only guess there is some strange auth behavior when accessing a shared sheet with the add-on installed. Otherwise i really dont have a clue anymore what the cause could be.

The add-o

[2018-11-30 11:46] ljay79 commented on #89
Everyone still having the error 500 issue, please provide me with the Temp User key from the add-on's "About" dialog and perform at least 1 try of saving the connection settings for Jira.
Thx

[2018-11-30 16:57] tcorman commented on #89
Is it ok to post Temp Key here in the clear?

Yes, uninstalled/reinstalled, no change. I and one other user are having no problems - it's specific to this one user, but her JIRA privileges are the same as ours.

[2018-11-30 20:32] ljay79 commented on #89
Yes it should be fine to post this key here. Only use I know of, is for identification in my stack driver logs.

[2018-12-04 08:50] paul-lemon opened #108 "FEATURE REQUEST: Update data from Sheet back to JIRA"
Thanks for sharing this add-on - really appreciated and very useful :)

I would like a feature that enables me to import jira issues, use a google sheet to capture data quickly and then post this updated data back to Jira, updating the fields in the original issues.
**Example**

- The user imports a list of issues with a fixed set of fields from a JIRA query.
- The data is modified in google sheet

[2018-12-04 22:03] tcorman commented on #89
Temp key for user w issues:
AEt9bgQ1QVmAmKy6HmmHbm+Kqp9K9GSCE+qWbqrcrVd1wYcSJKq/TnGxlr8YoOle00Xu1ytVJfZB

[2018-12-14 23:59] vielhuber opened #110 "Auto schedule "List issues from Filter""
Hello!

Is it also possible to auto schedule "List issues from Filter"?

I'm familiar with Google Apps Script and can call functions based on a cron basis.

Am I able to call a function directly from your plugin?

Or is this something you have to add?

Thanks!

[2019-01-03 03:50] blackcashmere opened #111 "Empty Columns"
Hi, I am having some issues making values appear for 2 fields: Status and TTR in Hours (custom field), I tried refreshing but they just added empty brackets to the issue key. Can someone help me?

![screen shot 2019-01-03 at 11 48 37 am](https://user-images.githubusercontent.com/24602188/50623116-abc19600-0f4d-11e9-9933-4eb18060ef6a.png)

Here is a screenshot. I blacked out the sensitive informati

[2019-01-03 04:31] blackcashmere commented on #111
I tried another custom field, and it also appears to be empty.

[2019-01-03 09:11] christianhuening commented on #110
@vielhuber Is your intention with this requests to have your lists automatically updated? I would love that as well. I have favourite filters based on labels and thus would like them to be automatically updated in the Google Sheet as well.

[2019-01-03 09:43] ljay79 commented on #111
Hi. Can you please elaborate what you mean with "making values appear".

If you like me to have a closer look at your specific issue, pelase activate Debugging in "About" dialog, provide me your "Temp. User Key" and then perform at least one another try. This way it will log the error and debug information to my StackDriver logging account where i can analyze it better.
User credentials are not tr

[2019-01-03 09:45] ljay79 commented on #110
I think its duplicated to #92

I have a plan to add such functionality, but do not have a straight idea yet how. Please be patient.

[2019-01-03 09:45] #110 closed

[2019-01-03 14:35] lucbloom opened #112 "Importing custom "Platform(s)" field results in blank cell."
Hello, first off, thanks for creating this tool. We'd like to view the "Platform(s)" property of our tickets in a sheet. However, it's not importing correctly. It's a list of items that works like a checkbox list, but it's visualized as a list of menu options inside a scrolling box.
![image](https://user-images.githubusercontent.com/2518536/50643008-28b03800-0f6d-11e9-88c3-07d63e7460a6.png)

[2019-01-03 17:00] ljay79 commented on #112
Hi. What is the specific field type in jira called for that 'Platforms'?

[2019-01-07 13:55] ljay79 commented on #112
Hi @lucbloom at this stage, i was not able to reproduce your issue.
For my Jira (Cloud) instance i had created a field of type "Select List (multiple choices)".
This was correctly imported into the Google Sheet as a text value list with comma separation.

![jira-field_type-select_list_multiple_choices](https://user-images.githubusercontent.com/12184976/50771829-134c4e00-128c-11e9-8c83-7c17d44c7ace

[2019-01-07 14:00] ljay79 commented on #108
Hello @paul-lemon,

i do understand the use of updating data from google sheets back to Jira, however i must say, that i do not yet intend to add such functionality into this Add-On.
Its a whole other level of complexity which i do not see myself as capable of implementing it by myself.

I am very sorry to bring that to you, but i feel its better to admit my limitations of skills now, other than g

[2019-01-07 14:02] ljay79 commented on #101
If there is not new insight or someone able to proof my investigation wrong, i would close this issue within the next weeks without further comment. (keeping it open just a little longer)

[2019-01-07 14:30] ljay79 commented on #100
Hi @tsinggu , I'd like to follow up with you on that issue.
Just checking if i can close that issue or if you do have further insights or troubles which i can assist on for this specific issue.

(For any other issues, please open a new issue report)

[2019-01-07 14:33] ljay79 commented on #94
Hello @crlazar as the add-on now since a few months does support any custom field of type "date" or "datetime", do you still expirience the above mentioned behavior?

[2019-01-07 14:43] ljay79 commented on #89
Sry @tcorman, i was on annual vacation in december and then the seasons holidays.
Im not "back in business".

Could you please redo the debugging steps with the affected user:
- enable debugging
- re-post temp user key (it changes frequently)
- perform troubling request and report here again, best: with a timeframe which i can check logs in

Thx and appologies for late reply and delay.

[2019-01-07 19:16] tcorman commented on #89
@ljay79 Thanks - will do Wed afternoon, and will post here.

[2019-01-08 11:13] lucbloom commented on #112
Thanks for looking into it. I ran the import with Debug ID AFzpkET0voPAQ4JFhbXlnmX7Dw/tIhJ4hNZRlYVNl0YqUZ2TRao4m7cTAaxlkdsaMnSLmTX3lRur

________________________________
From: Jens <notifications@github.com>
Sent: Monday, January 7, 2019 2:55 PM
To: ljay79/jira-tools
Cc: Luc Bloom; Mention
Subject: Re: [ljay79/jira-tools] Importing custom "Platform(s)" field results in blank cell. (#112)

Hi @lucb

[2019-01-08 11:16] lucbloom commented on #112
What I see in Jira:

[cid:67bd58a6-879d-4dca-8926-e4cceff90697]
________________________________
From: Jens <notifications@github.com>
Sent: Monday, January 7, 2019 2:55 PM
To: ljay79/jira-tools
Cc: Luc Bloom; Mention
Subject: Re: [ljay79/jira-tools] Importing custom "Platform(s)" field results in blank cell. (#112)

Hi @lucbloom<https://github.com/lucbloom> at this stage, i was not able to reprod

[2019-01-08 12:36] ljay79 commented on #112
Your last comment is empty, pls check.

[2019-01-08 13:53] ljay79 commented on #112
@lucbloom i have investigated all log informations from you.
According to the logs, you performed 3 searches for the filter "HM4 my issues".

- 1st - selected fields to fetch: [summary, status, description]
- 2nd - selected fields to fetch: [summary, status]]
- 3rd - selected fields to fetch: [summary, status, assignee, customfield_10165]

Where *customfield_10165* is your *"Platform(s)"*.
That la

[2019-01-08 20:43] lucbloom commented on #112
Still empty:
[cid:88a79542-0d6e-4883-ab53-d5edb3b5302e]

So weird that the values are in the JSON but not filled in.
I was using Chrome on Windows and now Chrome on OSX. Version 71.0.3578.98 (Official Build) (64-bit)
It's an English sheets interface... hmmm what else

________________________________
From: Jens <notifications@github.com>
Sent: Tuesday, January 8, 2019 2:53 PM
To: ljay79/jira-tools

[2019-01-08 21:33] ljay79 commented on #112
I'll make another check tomorrow.
Meanwhile, if you are able to - it's just a shot into the blue - rename the Platforms field in jira to something without brackets, if you can.

[2019-01-09 10:15] ljay79 commented on #112
I did investigate more, prepared my own Jira to have a field of same name and type.
Everything worked as exptected.

I can not make out any possible reason why your column would stay empty.

Did you tried uninstalling the add-on completly and then re-install it?

[2019-01-09 21:19] tcorman commented on #89
Just enabled debugging. Her temp user key:
AFzpkEQix9mAzB+UdvMBBWUC8lrImRdd7Oxcn0yqr3VIYcsnhho4vR5Uf9JRCt9v5uzKGOl/6zaX
Tried request at ~1:12 PM Pacific with user ctrese using a Sheet that I own:
List issues from filter displays dialog, then returns "Exception: SSL Error https://vlocity.attlassian.net/rest/api/2/filter/favourite?includeFavourites=true"
Works fine for me.

Next experiment: user ct

[2019-01-10 09:09] ljay79 commented on #89
Thank you, the error lies in the posted error message and the logs do confirm this.

In best case; it was really just this simply typo:
The URL for (her) Jira instances used is incorrect. "*Atlassian'" is written with a single "t" and not like she/you wrote and used it with double "t".

I hope it was just as simple issue as this :)

[2019-01-11 12:53] paul-lemon commented on #108
Hi Jens,

I've been working on this feature here:-
https://github.com/paul-lemon/jira-tools
Its a work in progress but is working at a basic level, there's lots of work to do with fields from JIRA which are not straightforward strings.
To be able work on it I set up the code so I can use standard javascript tooling for unit tests and to use CLASP to deploy the code to GAS.
Do you want to have a lo

[2019-01-11 13:59] ljay79 commented on #108
Nive, will certainly take a look at it soon... Keep me updated

[2019-01-12 12:09] paul-lemon commented on #108
Do let me know what you think.

[2019-01-12 19:17] ljay79 commented on #108
Hi. I did a first review and it looks like you know some JS programming.. :)
I like the preparation for local development with node and the deployment to GAS, i will have to check this out soon and probably adopt/implement this first.

For actual review of your feature i will need more time so i can actually run and test it. It looks promising, however looks also a little tricky with all the field

[2019-01-13 09:19] paul-lemon commented on #108
Hi,

I understand a need to make the code change simpler and starting with the unit tests / build etc is a good idea.

I'm not able to separate the feature from the other parts in a straightforward way though.

Would you be ok if I remove the new feature from the Menu so it is not visible to users but leave all the code in. Once you have looked at the way the code works for unit testing, clasp etc

[2019-01-15 11:18] ljay79 commented on #108
Hi @paul-lemon , i started a new branch for implementing the local development requirements, adopting it from your repo.

I have also added you as a contributor to my repo so you could directly interact with it by creating a new branch or updating (via PullRequest) existings.

- i tweaked just a few little things
- will review and add all these required node code blocks atm
-- how to run / test th

[2019-01-15 11:18] ljay79 commented on #108
BTW: you can directly communicate with me via github [at] jens79 [dot] de

[2019-01-15 12:54] paul-lemon commented on #108
Makes sense thanks! The change to the comments makes sense. I like it.

[2019-01-15 13:38] paul-lemon commented on #23
+1

[2019-01-15 13:56] ljay79 commented on #108
Yes ok, i figured that. I thought there is even a way of "running" some parts locally with node  hehe...  but i figure how would that ever work hehe.

The unit testing is nice enough.

So your usual workflow is; coding locally, deploy to GAS, test, repeat, ... push to git !?

[2019-01-15 14:02] paul-lemon opened #114 "SECURITY: Investigate use of OAUTH2"
The use of basic auth and storage of those credentials needs improvement.
OAUTH looks like a better option
https://developer.atlassian.com/server/jira/platform/oauth/
Worth an investigation to see if it's feasible and what impact there could be. Has this already been considered?

[2019-01-15 14:14] ljay79 commented on #114
Yes, this is basically why i have #23 created as a personal note :)

Therefore i would like you to comment in the #23 and have this closed as a duplicate.

[2019-01-15 14:14] #114 closed

[2019-01-15 14:32] paul-lemon commented on #108
Yes, usual process is
1. TDD / Development (as much of the feature as I can is developed this way)
2. Deploy to GAS
3. Test within GAS and tweak code in the GAS interface (if easier)
4. Pull the code from GAS back locally and merge with SRC
5. Push to git

[2019-01-15 14:33] paul-lemon commented on #23
The use of basic auth and storage of those credentials needs improvement.
OAUTH looks like a better option
https://developer.atlassian.com/server/jira/platform/oauth/
Worth an investigation to see if it's feasible and what impact there could be. Has this already been considered?

[2019-01-15 20:35] ljay79 commented on #89
@tcorman any news? Issue solved?

[2019-01-16 13:58] rafal-lewandowski opened #117 "JST_getTotalForSearchResult does not return "0""
Apart from getting 0 for the query which does not return value, I'm getting #ERROR.

For example, for this:
=JST_getTotalForSearchResult("assignee = currentUser() and priority changed after startOfWeek()")
I'm getting that:
Error: [200] - {"respData":{"startAt":0,"maxResults":1,"total":0,"issues":[]},"httpResp":{},"statusCode":200} - JQL: assignee = currentUser() and priority changed after startOf

[2019-01-16 16:22] ljay79 commented on #117
Hi @rafal-lewandowski  this appears to be a bug, as you should not get the error message displayed as a cell value.
I will have a look into this soon and provide feedback. Thx for reporting.

BTW: Are you able to reproduce same behavior with different JQL queries which are syntactically correct and expect a simple "0" Results?

[2019-01-16 18:05] rafal-lewandowski commented on #117
Hi @ljay79 ,
Thank you for the quick response!

Yes, I was trying a few different queries. Basically, when I pass the correct query when I expect "0" results, I get #ERROR like that:
![image](https://user-images.githubusercontent.com/42573985/51268903-5fe90500-19c1-11e9-88c9-25fa15e93b46.png)

In a case the query is wrong, I get #ERROR like that:
![image](https://user-images.githubusercontent.com/

[2019-01-17 19:32] ljay79 commented on #117
Thank you @rafal-lewandowski , i have just deployed a BugFix release which is rolling out through GAS.
I'll update you here, once Google confirmed the publishing process.

[2019-01-17 19:32] #117 closed

[2019-01-17 19:45] ljay79 commented on #117
Version 1.0.7 is now rolled out, you can check in the About dialog, if you have the latest version.
In case the same issue still persist, please reopen this one here.

[2019-01-17 20:15] rafal-lewandowski commented on #117
Great!
It is working properly now.

Thank you!

[2019-01-17 20:31] #94 closed

[2019-01-22 21:01] ljay79 commented on #89
Assumes fixed. Closed due to inactivity.

[2019-01-22 21:01] #89 closed

[2019-01-23 21:16] ljay79 opened #122 "Changes for development debugging not working"
The changes you applied, to allow debugging override in dev environment do have no effect sadly.
Something with the way i define the debug function and the google lifecycle which i dont fully understand yet.

### Steps to reproduce
1. Deploy test environment with config debug enabled
2. Open sheet and go to About dialog and disable debug
3. perfom any action which would/should log informations

##

[2019-01-24 18:32] tcorman commented on #40
We have this issue with one user, two others are fine. Problem user cannot see filters she created or our custom fields. Temp key for user with issue is ADKDv6BgqqiaqiAR6pF4mLoi9UVQQt434WH4lFWuy/jlaa6Z8wM5FJtfJfyEBUL42F1U2eAFx8Ri

Issue occurred today (Jan 24, 2019) between 10:15 AM and 10:30 Pacific time.

[2019-01-24 19:50] ljay79 commented on #40
Hi @tcorman i see u are back. With the same troubling user as in #89  ?
The log for above user key and timeframe show an Authorization Error:
[code]

Please have credentials checked and permission of the user in Jira permissions.

[2019-01-24 20:46] ljay79 commented on #122
Ok @paul-lemon i figured it finally.
Was almost loosing my mind.

Your idea/approach of setting the debug enabled depending on _environmentConfiguration.debugEnabled_ does not work.

The _debug_ object is initialized during parsing time, that happens before any triggers (like _onOpen()_) or anything else.
During this runtime, google does not allow access to any user properties and apparently is un

[2019-01-25 21:21] tcorman commented on #40
Hi @ljay79! The user in question has no problem seeing her filters in JIRA, or any other access issues. As far as I know she has the same JIRA permissions I have, and Sheet Tools works perfectly for me. Are there specific permissions in JIRA we should check?

[2019-01-25 22:18] ljay79 commented on #40
No that should be fine. How about the details entered in jira addons? Sure there is no typo in username or password?

Is your jira connected to Google domain for user account sync?

[2019-01-25 22:20] tcorman commented on #40
I think our Jira Cloud is connected to GSuite, yes. She went to Atlassian and changed her password to be unique, but no change, still cannot see her filters or our custom fields. On Monday I'll sit with her and take a hard look at the authentication settings.

[2019-01-26 22:12] jeffrmanley opened #123 "Custom functions produce [401 Unauthorized]"
Setup Jira Tools --> Settings and added Jira instance https and credentials. The run menu driven functions work without any problems. However, when using the custom functions I'm receiving a 401 error. Do the custom functions use the same credentials file or does something else need to be setup?

When using a custom function such as =JST_getTotalForSearchResult("status=done") I receive an Error: [

[2019-01-28 13:17] ljay79 commented on #123
Hi @jeffrmanley
The entire add-on is using only the details provided at the settings dialog.
An authorization denied error on some parts and not on others, is very strange and new to me.
It usually either works everywhere or nowhere.

For further investigation, please activate Debugging in "About" dialog, provide me with your "Temp. User Key" and then perform at least one another try.
This way it

[2019-01-28 13:48] ljay79 commented on #40
The mentioned link i will investige deeper, if and how the difference is reflected in real world. Not sure how to detmine that behavior yet.
In best case, a user would (as suggested) create a API Token and use only his Atlassian username and API Token for the add-on.

https://id.atlassian.com/manage/api-tokens

If possible, you can actually try to perform the mentioned tests in CURL.
Basically as

[2019-01-28 18:44] jeffrmanley commented on #123
Hi @ljay79

The Temp. User Key is - ADKDv6BK5hd5l10fuRuWCO7s+TyY6cZYcbT+4Jxze4s5XwsOVfAF6XVeAjB2+GdjRKB2prQrEXAA

With that same user key I was able to successfully run "List Issues from Filter" from the menu system; however when attempting to run JST_ functions they each errored out.

[2019-01-28 20:22] ljay79 commented on #123
Hi. Very strange. I can see a lot of logs for provided user key. All of which are nice only - debug info, no error, no warning, no auth issue.
To me that indicates, the errorneous calls are not performed with the same scope and not using the proper environment. Dont know really yet how this is even possible.
Will have to investigate the specialities of custom functions further.

QQ:
- Is the sheet

[2019-01-29 11:50] paul-lemon opened #126 "Display which configuration is deployed using the "ABOUT" dialog"
** Provide a general summary of the issue in the Title above **
With the new environment config there is no quick way to verify which version is deployed.
Displaying environmentConfiguration.description in a discreet place in the about dialog could be a good solution

** Provide a more detailed information of the issue **
The wrong environment config could be deployed and it is hard to spot.
Loggi

[2019-01-29 13:32] jeffrmanley commented on #123
Hi @ljay79 ...I just did another test in a new gSheet at 5:30am PST.

ERROR receiving now is - TypeError: Funktion replace in Objekt 10 nicht gefunden (line 109). -- this is the first foreign language error I've seen.

=JST_search("project=projrural",10,0)

[2019-01-29 18:24] ljay79 commented on #123
@jeffrmanley  the syntax for _JST_search()_ is wrong.
You missing the second param, a list of fields you want to be returned.

The german error message is a google javascript error message localized by the environment - meaning, it seems you run that function on a german browser or german google spreadsheet. I do not have any influence (that i know of) to interfer with the language of generic JS e

[2019-01-29 18:31] ljay79 commented on #126
Sure, go ahead.  Maybe just indicating in case it IS Debug mode like this:

![debug-mode-highlight](https://user-images.githubusercontent.com/12184976/51931166-75682100-23fc-11e9-9868-5acfe2cc4bdd.jpg)

[2019-01-30 18:32] ljay79 commented on #122
solved

[2019-01-30 18:32] #122 closed

[2019-01-30 20:34] ljay79 commented on #122
Just for the record, found a good explanation and workarounds for the issue with runtime execution errors or reference errors during runtime because of the order, googles compiler is executing all the _.gs_ files.

https://stackoverflow.com/questions/12687907/execution-order-of-gs-files-in-a-project

[2019-01-31 11:03] paul-lemon commented on #108
Will do. I notice you are looking at issue #92
You have mentioned solving it with this approach
"b) I will think of a convinient way of re-inserting entire filter results based on (last choosen filter) and the selected fields - something like a Quick-Menu with Favorites"
I like the sound of that as a user - I frequently re-use the filter in the same place on the spreadsheet.
If the user has the ce

[2019-01-31 12:12] ljay79 commented on #108
Im currently looking more into a direction with almost no logic data inserted into cells as it has the user-fault level on high risk :)
Im looking into a reference storage - table meta data storage with all neccessary information to update a certail table range.

But yes, i see similarieties for part of the logic being able to use for your update feature as well or vise versa.

[2019-01-31 13:38] nezacec opened #131 "Adding custom functions for additional fields"
Hi,

we are using your plugin for updating the Jira ticket statuses and we find it very useful. However, it would be great if we could extract some other info as well in the same way as Epic name is extracted with this function:
`JST_EPICLABEL("JST-123")`

We would like to extract at least a due date, for example:
`JST_DUEDATE("JST-123")`

Or, if it can't be done this way, by entering the Jira fie

[2019-01-31 14:33] ljay79 commented on #131
Thx @nezacec for filing this ticket.

Did you tried using _JST_search()_ for this purpose?

[code]

[2019-01-31 14:38] nezacec commented on #131
Great, works this way for due date:
`=JST_search("issue = JST-123"; "duedate")`
but I can't get it to work for the second field like you suggested:
`=JST_search("issue = JST-123"; "duedate, status")`
In this case it just writes the word "status" in the second column and not actual status (or key or any other field id)

[2019-01-31 15:01] ljay79 commented on #131
Remove the spaces, do just `"duedate,status"`.
Will take a note and make this function accepting spaces in the comma list...

[2019-01-31 21:11] paul-lemon commented on #21
This could be neatly achieved in jiraApi adding a cachetime property for methods which should be cached e.g.
'field'         : {method: '/field', cachetime: 1000}
this would then be implemented that any call to 'field' would be cached in the google cache for 1000ms (or whatever value was set)
any method which doesnt have a cache time would not use the cache.

[2019-02-01 08:51] nezacec commented on #131
That's great, thank you!

[2019-02-01 08:51] #131 closed

[2019-02-04 08:36] ljay79 opened #134 "Refactoring and Code Documentation"
- Entire code requires some review and enhancement of code documentation.
- move all jira field functionalities (mapping, parsing, converting,..) into its own _.gs_ file and maybe even into a nice class
- refactor field parsing and mapping functionalities; review performance; redundant code; ...
- rename functions and classes to be GAS private: trailing "_" underscore (https://developers.google.co

[2019-02-04 10:38] ljay79 commented on #123
Close issue as won't fix. Error caused by typo.

[2019-02-04 10:38] #123 closed

[2019-02-04 10:38] ljay79 commented on #112
Hi @lucbloom do you have any new insights?

[2019-02-04 10:39] ljay79 commented on #111
@blackcashmere please see my last comment.

[2019-02-06 18:38] ljay79 opened #135 "UpdateIssue: Error on key values"
Collecting bugs of _Update Issue (Beta)_ feature of type issue key data format.

Error: `[TP-6] Component/s: data was not an array,` when updating Jira standard field `Component/s` with a comma list of strings.

Request:
[code]

Response:
[code]

[2019-02-06 20:49] paul-lemon opened #136 "Fix layout in Update Sheet dialogue"
![52198268-8a144100-2862-11e9-923a-93ea70dc0739](https://user-images.githubusercontent.com/2955356/52372674-0c665600-2a59-11e9-95f7-0a728b6ee38e.jpg)
As noted in https://github.com/ljay79/jira-tools/pull/130

[2019-02-06 20:53] paul-lemon opened #137 "Screen shots for update sheet functionality"
Maybe a video too.

[2019-02-06 20:54] paul-lemon opened #138 "Move helper methods out of dialog.gs"
"dialogs.gs basically should include only plain dialog calling methods, no other logic or helper functions..." from . https://github.com/ljay79/jira-tools/pull/130

[2019-02-06 21:01] paul-lemon opened #139 "JiraUpdateTicket.gs"
Name would be better as UpdateJiraTicketManager

Single Responsibility - Update a series of JIRA tickets using the same column / field defintions
Use of a class will enable refactoring
1. Reduce length and complexity of method updateJiraIssues (approx 70 lines)
2. Remove need for convoluted error handling of field names identified in https://github.com/ljay79/jira-tools/pull/130
`if (responseData.

[2019-02-06 21:09] paul-lemon commented on #136
![52198268-8a144100-2862-11e9-923a-93ea70dc0739 1](https://user-images.githubusercontent.com/2955356/52373776-d1b1ed00-2a5b-11e9-8543-727376055f92.jpg)

[2019-02-06 21:12] paul-lemon commented on #138
Also make sure methods in dialog.gs have javascript docblocks

[2019-02-06 21:23] paul-lemon opened #140 "Refactor "fetchCustomFields" in customFields.gs"
Code should use the single ::: method "getAllJiraFields" in jiraAPI.gs which contains much of the same code.
I have started this but encountered issues with:-
1. Duplication and tight coupling to implementation on UserStorage.setValue('jst_epic', fieldEpic); and UserStorage.getValue('jst_epic', fieldEpic); - This should be abstracted to a function or as part of a class
2. Circular dependencies whi

[2019-02-06 21:25] paul-lemon commented on #140
Initial work in progress on this (before I realised the issue with the circular dependency) in https://github.com/ljay79/jira-tools/tree/issue%23140

[2019-02-06 21:41] paul-lemon opened #141 "Use consistent casing in the naming of folders and modules/classes in the codebase"
there is a mix of camel case with a leading lowercase letter e.g.
"jiraAPI"
"Dialogs"
"Storage"
"UserStorage"
"userManager"
This looks inconsistent and untidy and has caused issues where the require files on a Windows PC were inconsistent.
I suggest using a capital first as per Java standards - upto you @ljay79

[2019-02-06 22:21] paul-lemon opened #142 "Only use HTTPS in Jira URLS"
Because basic authentication or JIRA API should be kept and transmitted securely only the Add on should only accept HTTPS urls. Allowing the user to enter HTTP introduces a security risk with their credentials being transmitted insecurely the Add-On should prevent users from accidentally doing this.

[2019-02-06 22:28] ljay79 commented on #139
We wont need to include the string "jira" everywhere :) as the entire code base is all about jira.

`Ticket` vs `Issue`
I notice myself, mixing up the same thing calling it sometimes _Ticket_ and other time _Issue_.
Lets try (going forward) to stick to Atlassian terminology: **Issue**

So my name suggestion including above statements would be:
**IssueUpdateManager**

[2019-02-06 22:31] ljay79 commented on #85
Found a silly bug which did ignore my default result set of max 100 users in total. Have it fixed and same time increased limit to max 250 users and 250 groups.
Will be part of next release (within next days i believe).

[2019-02-06 22:31] paul-lemon commented on #139
agreed - I think some naming conventions in a Contributing.MD to avoid future naming mishaps too.

[2019-02-06 22:34] ljay79 commented on #139
Sure, as soon i have more than 1 convention :)

[2019-02-06 22:37] ljay79 commented on #141
Hmm... i will do a little research which/what standard would best apply to this project.

Initially i starting apply my logic:
regular functions and libraries start with a lower case, and Classes start with upper case... But i fully agree, its inconsistent.

From my PHP projects, it would be basically; all Classes start with upper case, all others with lower...

[2019-02-06 22:40] ljay79 commented on #142
Fully agree, however i had already users with custom self hosted Jira instances without SSL.
But i think, this is something we should soon enforce - going with the wave of enforced SSL everyhwere.

Similar to some of the other issues for code tweaking/renaming/organizing, i suggest to get a stable master branch with released IssueUpdate feature first. Then wait a little for bugs coming in, then wh

[2019-02-06 23:04] paul-lemon commented on #139
packageRowForUpdate should be private also.

[2019-02-06 23:17] paul-lemon commented on #141
I've never loved that PHP convention tbh! :)

Now Clasp allows the use of folder perhaps a folder structure could help navigation around the growing code base. It took me a while to find stuff e.g.
[code]

[2019-02-06 23:20] paul-lemon commented on #134
All valid stuff - too big to tackle in one issue though! :)

[2019-02-06 23:24] paul-lemon commented on #142
Agree on not opening more branches - maintaining the current one is a PIA - need to get to smaller less long lived branches.

[2019-02-06 23:27] paul-lemon commented on #142
Perhaps a good first step if you still have users who *must* have HTTP is to show a big RED error box when they use HTTP and advising them to use HTTPS

[2019-02-06 23:34] paul-lemon commented on #135
Thanks - components isn't something I've tested.

[2019-02-06 23:36] paul-lemon commented on #141
Also meant to suggest using the naming of ".js" for files - makes it easier in editors and with defaults in things like require("").
Clasp actually renames the downloaded "gs" files as "js" so its unnecessary really...

[2019-02-07 07:22] paul-lemon commented on #135
Sample code from https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/#editing-an-issue-examples

`curl \
   -D- \
   -u charlie:charlie \
   -X PUT \
   --data {see below} \
   -H "Content-Type: application/json" \
   http://localhost:8080/rest/api/2/issue/QA-31`

`{
    "update" : {
        "components" : [{"set" : [{"name" : "Engine"}, {"name" : "Trans/A"}]}]
    }
}`

[2019-02-07 09:43] ljay79 commented on #141
Hmmm...  to many folders dont make it better :)

Lets try to keep it simple.
For the beginning i see obvious use for folders:
_./view/_
_./lib/_
_./customFunctions/_

Folders are actually a development env benefit only. GAS and the GAS editor do not support any folders at all.

The part with _.js_ vs _.gs_ i like. If clasp will take care of this anyway, i dont see a reason of keeping _.gs_ extensi

[2019-02-07 09:46] ljay79 commented on #135
Yes, this will become a very tidy and tricky task anyway soon. All these different field definitions with their expected in/out -put formats. It applies basically to anything beside integers and strings.

[2019-02-07 10:51] paul-lemon commented on #141
Looks good. I'm happy with those folder suggestions. I like the model thoughts.

The reason I suggest "actions" or something similar is it gives you (the developer) a clear place to start with where the functionality is.
The suggestion for "customFunctions" is good as it is obvious if you are working on a new or existing function where the code belongs.
I struggled to see where the menu actions li

[2019-02-07 10:59] paul-lemon commented on #141
".gs" vs ".js" isnt critical and I'm happy either way. This project uses JS only
https://github.com/gsuitedevs/apps-script-oauth2

[2019-02-07 11:41] ljay79 commented on #141
Yes but this specific one is a libary for importing into multiple kind of projects while all actual app scripts a with a _.gs_ extension.

As you are fine with either way, i really like to keep _.gs_ at least for now.

[2019-02-07 11:46] ljay79 commented on #141
Not sure if i got you right, its supposed to be the place for public GAS custom functions (https://developers.google.com/apps-script/guides/sheets/functions).

Regarding UI callbacks from sidebar or dialogs, you're right. This isnt well accomodated yet.
It could be concidered a controller with multiple actions (methods) or just as _./helpers_ .
In general such callbacks do act as a helper only: ta

[2019-02-07 11:57] paul-lemon commented on #141
I've found "helpers" to turn into a bit of a dump for anything and everything unless its well defined (e.g. view helpers). All code is "helpful" so lots of things can end up there.

I like the idea of all functions which are executed by a user action or a spreadsheet action being in a single place. They are the entry route into the code base for a piece of functionality. As I started to work out w

[2019-02-07 13:25] ljay79 commented on #141
Almost fully agree.

Lets do `controllers` and the naming convention for _menu_ and _callback_ (maybe just: _cb_ for callback) prefix for filenames.
As long we dont have more than 10 files inside `controllers`, how about no subfolders atm? :)

If ever we need subfolders to organize more than 2 or 3 menu/callback files, i dont like to call them after a filename.

[2019-02-07 14:54] paul-lemon commented on #141
Sorry I wasnt clear I was trying to say:-

**File Structure**
[code]
in each file e.g. **updateIssues.gs**
[code]

[2019-02-07 16:26] ljay79 commented on #141
Yep,  I like this more.

[2019-02-07 18:43] ljay79 commented on #141
[code]

Would that be the summary of all?

[2019-02-07 18:56] paul-lemon commented on #141
Looks good - my last thought would be on "customFunctions" - could that get mixed up with being "custom functions' in the code base to do stuff versus the custom functions for the spreadsheet?

[2019-02-07 19:38] ljay79 commented on #141
At this moment, the actual GAS custom functions are only short and light weight. Would cause overhead splitting them up into individual files. So i would actually keep the current file named _customFunctions.gs_ and not have a folder of same name.

[2019-02-08 21:36] ljay79 opened #144 "Google's app script review"
Latest add-on release on GAS got rejected with following reason(s).

No idea, why they complain about the naming all the sudden, after already more than 40 releases of the same.
So, now we must find new name apparently :(

Any suggestions?

[2019-02-08 21:40] paul-lemon commented on #140
Opened a pull request.

[2019-02-09 11:04] paul-lemon commented on #144
That's frustrating after forty releases.
I guess Jira is really Atlassian's copyright so I guess Google worry it may look like this Add-On is from Atlassian and not an Open source community add-on

Some thoughts
- do you need to be clear this is for Google Sheets in the title - I guess not because it's in the Google Add-Ons marketplace and labelled Sheets already?
- I think you need Jira in the ti

[2019-02-09 16:28] paul-lemon commented on #136
Fixed in https://github.com/ljay79/jira-tools/pull/146

[2019-02-10 16:08] ljay79 commented on #144
"Collaboration tools for Jira"

[2019-02-11 07:51] paul-lemon commented on #144
Collaboration was the reason I wanted to use the add-on. I think the add on is a few features off that truly make that possible. Sheets are such an easy way for multiple people to quickly see and change things whereas the Jira interface makes that hard. Being able to pull the data from (and push it back to) Jira will make collaboration easier.

I think your add-on does other things to - easier rep

[2019-02-11 12:11] ljay79 commented on #144
Yep, most samples do only a specific (little) purpose. My add-on does already a few different things all together with Jira.

"Integrate Jira Issues with Sheets" is something to think about.

[2019-02-11 17:35] paul-lemon commented on #141
When working on refactoring in PR's https://github.com/ljay79/jira-tools/issues/135 and https://github.com/ljay79/jira-tools/issues/145 I came to a clearer view of what I think I need to do to refactor the code in the "Update Jira" feature and how it fits in.
This is specifically around the "models' used to represent JIRA objects in the application and how they should fit into the codebase and int

[2019-02-11 20:42] ljay79 commented on #144
Before it makes sense to really for forward with refactoring and enhancements, i like to get the current master release to GAS.

So we need a new name first, release and then going back to normal business.
(Im really pissed about this request from Google) damn it...

Most GAS add-ons concentrate on a single specific task, our here does kind of Reporting but als (new) Editing, thats difficult to in

[2019-02-11 21:29] paul-lemon commented on #144
Makes sense to delay those code PRs - I had some time this weekend and I just needed to test that last one on JIRA with components hence it being opened this weekend. I'm done for now.

I like these in this order
* Build Reports and Update Issues from Jira <-- you can't use this one yet though.
* Connect Jira with Sheets
* Integrate Jira Issues with Sheets
* Collaboration tools for Jira

[2019-02-11 22:25] ljay79 commented on #144
We must keep in mind, its also the 1. menu item in any spreadsheet: "Add-ons" -> "xxxx".
Many of the samples you found, and myself, are mostly custom functions i believe...
will do some more research tomorrow...

[2019-02-12 11:48] ljay79 commented on #144
How about:

**Project Aid for Jira** - _Create reports and manage Jira projects_

[2019-02-13 08:59] paul-lemon commented on #144
Sounds good.
I'd be careful about managing Jira "Projects" - I dont think there is enough functionality in there yet to make that claim
How about
**Project Aid for Jira** - _Create reports and manage Jira issues_

[2019-02-13 10:18] ljay79 commented on #144
Your'r right.

So we have a new add-on name:

**Project Aid for Jira** - _Create reports and manage Jira issues_

[2019-02-13 10:18] #144 closed

[2019-02-13 21:45] paul-lemon opened #150 "Update Sprints from Add-On"
**User need**
Setting the sprint on issues from the Spreadsheet is something that the folks in my team would like from this feature.
The workflow would be
1. List issues from a filter -> populates the sheet
2. Issues edited and allocated to Sprints, copy and pasting Sprint Names or entering them directly
3. Update Jira issues -> data pushed back into JIRA

The BETA feature to update Jira Issues do

[2019-02-13 21:51] paul-lemon opened #151 "Inserting new Jira Issues from Add-On"
Another request from the team who've tested the add-on
When editing issues and then updating JIRA they would like to be able to create new ones.
**Proposed  Workflow**
1. User populates spreadsheet using "LIst Issuses from Filter"
2. User edits some issues and adds rows for new Issues
3. User selects the "Update Jira Issues" menu item
4. The add-on detects there are rows with blank Keys and offers

[2019-02-13 21:54] ljay79 commented on #150
Brainstorm:
- using same/similar custom field definition like i do with EPIC fields (has label+link) here it will need, label + id
- research feature to create dropdown selections on the fly (useful for multiple other issue fields as well)

[2019-02-13 22:23] paul-lemon commented on #150
* using same/similar custom field definition like i do with EPIC fields (has label+link) here it will need, label + id
The sprint ID's could be cached when retrieved from the API and then looked up when editing / updating. That could work.
* research feature to create dropdown selections on the fly (useful for multiple other issue fields as well)
I don't fancy all that work - just yet - I like the

[2019-02-13 22:33] paul-lemon opened #152 "Cannot set "assignee" when updating JIRA issues"
Not had this requested (yet) so may not be a must fix for first release of "Update Jira Issues"
Assigning an issue does not appear to be available in the Edit Issue call to the Rest API
There is a specific call for assigning and issue

**Options**
1. Ignore it for now and make "assignee" readonly. Simple to dev and test.
2. Make an additional call to the REST API per row when "assignee" is selecte

[2019-02-13 22:39] paul-lemon commented on #135
I've tested all of the built in JIRA fields with the new feature. These are the error messages when updating. This needs some review to work out which ones can be left and which ones can be fixed :- This is the error mesage

Field 'watches' cannot be set. It is not on the appropriate screen, or unknown.,
Creator: Field 'creator' cannot be set. It is not on the appropriate screen, or unknown.,
Time

[2019-02-16 14:47] paul-lemon commented on #141
@ljay79  - how does the above look?

Thinking some more about this I think the folders can be used to enforce decoupling.

I propose that code in each of these folders has a discreet set of responsibilities and we put the output of this discussion in an markdown file e.g. CodeStandards.MD in the route

|File / Folder | Responsibilities |
|------------|-----------|
|Code.gs | Initialises menu and G

[2019-02-16 14:53] paul-lemon commented on #150
@ljay79 - I propose Option 3 - you ok with that?

[2019-02-16 15:41] #140 closed

[2019-02-16 19:20] ljay79 commented on #150
Yep, i think option 3 us best so far.

[2019-02-17 11:31] paul-lemon commented on #138
This is done now. All code added to dialog.gs for the Update issues feature is now in
/src/controllers/updateIssues.gs

[2019-02-17 11:31] #138 closed

[2019-02-17 11:31] #136 closed

[2019-02-17 11:32] paul-lemon commented on #139
This is underway with the re-factoring work I am doing.

[2019-02-17 11:55] ljay79 commented on #141
Ok sure, go ahead with this.
Just a reminder again, do add to many subfolders yet if this will only organize a hand full of files.
Proper filenames is suitable enough.
Ie: for the subfolders in _views_ and in _models_ .
As long there are not more than ~5 files, i dont think there is a big benefit of adding subfolders with each 1 or 2 files in it.

[2019-02-17 12:01] paul-lemon commented on #141
Good point about the folders. Its all pretty sparse now so it's hard to tell. Is it ok if I follow the pattern and then we review?

[2019-02-17 12:49] ljay79 commented on #141
sure :)

[2019-02-18 17:45] #142 closed

[2019-02-25 20:32] zettajim opened #161 "Affected Version not Displayed in JST_search Results"
Tried including "versions" (per "Jira Field Map"), "affectedVersion", "affectsVersions" but not getting the value for Affects Version/s from the tickets.

Thank you for a fantastic tool!

[2019-02-26 12:27] ljay79 commented on #161
Hi @zettajim i will check this asap

[2019-02-26 19:53] ljay79 commented on #161
Thanks for pointing out that bug.
I have applied a BugFix and pushed a new release to the marketplace currently awaiting for google's review and approval.

As soon you see the version `v1.1.1` in the add-ons "About" dialogs, you have the newest bugfixed version and the mentioned fields should properly show up.

I'll keep this issue a few more days open in case you have negative feedback.

[2019-03-01 15:50] paul-lemon commented on #141
Added the code standards MD file in https://github.com/ljay79/jira-tools/pull/157
Closing this issue (although the standards are not yet applied to all of the code.

[2019-03-01 15:50] #141 closed

[2019-03-01 15:51] paul-lemon commented on #134
Ok if I close this now we have agreed standards? @ljay79

[2019-03-01 16:36] ljay79 commented on #134
Pls keep open, as it also serves as a note for myself. Not everything of my above notes has been acomplished yet.

[2019-03-01 22:00] ljay79 opened #164 "Search() is counting max results wrong"
Class `Search` is fetching always X issues per page until requested maximum total records is fetched.
However, it always fetches full pages (max Y results per page) regardless of partial pages.

When searching for issues and specify to return maximum 75 issues.
Subsequentially is performs 2 searches (50 results per page as defined in MaxPerPage).
The 2nd sub-search should fetch only 25 results (75

[2019-03-01 22:02] ljay79 opened #165 "Whats New - Dialog after auto-update"
I was thinking about a way of highlighting news to users inside sheet.
So for your new feature i think it makes sense to introduce something like that.

Maybe, in `settings.gs` line 73 ff `function initDefaults()`, we could check the BUILD version installed vs currently one.
So in first open of a sheet and a new BUILD version detected we could open a Toast or Dialog to very shortly introduce the n

[2019-03-02 18:35] ljay79 opened #168 "Improve UI - Unsupported fields for Issue Update"
During the Issue update field selectio, there are quite a few which are not yet supported due to data type expected for the API during a update.
For such fields, we should deactivate the checkbox; grey them out; or indicate it in any way to the user.
Similar to the UI of "Configure Custom Fields".

![jst-issueupdate-fields](https://user-images.githubusercontent.com/12184976/53686003-4fe37580-3d22-

[2019-03-02 19:03] paul-lemon commented on #152
Making "assignee" and other user fields readonly for now.

[2019-03-02 20:06] paul-lemon commented on #168
Done in https://github.com/ljay79/jira-tools/pull/169/commits/3d78ff0df251322e0a637ff40b7da80de2e45e81
When a user selects a field with (Read only) in the dropdown it will be deselected and grayed out when then click "Update Jira Issue(s)"
![screen shot 2019-03-02 at 21 05 05](https://user-images.githubusercontent.com/2955356/53686988-f03f9700-3d2e-11e9-9184-4de69fd0a7e8.png)

[2019-03-02 20:48] ljay79 commented on #168
Awesome. Even I didn't expected that change pre release.

[2019-03-03 07:36] paul-lemon commented on #152
Fixed in https://github.com/ljay79/jira-tools/pull/169

[2019-03-03 09:32] #152 closed

[2019-03-04 08:12] #168 closed

[2019-03-04 08:15] paul-lemon commented on #150
@ljay79 - thinking about this some more

**Option 4**
When rendering the sprint use the ID of the sprint to form a hyperlink like you do for Epic Field
=HYPERLINK('Sprint Name','https://SERVERURL/secure/GHGoToBoard.jspa?sprintId=SPRINT_ID")

Then the user can click on the link to go to the sprint in JIRA and the add-on can parse the sprint ID from the hyperlink....?

[2019-03-04 08:30] paul-lemon commented on #135
I've either fixed the issues or marked the fields as readonly.
From now on we can raise issues for individual fields. Closing this now
https://github.com/ljay79/jira-tools/pull/169

[2019-03-04 08:30] #135 closed

[2019-03-04 08:31] paul-lemon commented on #108
Closing now https://github.com/ljay79/jira-tools/pull/169 is ready to be merged.

[2019-03-04 08:31] #108 closed

[2019-03-04 08:34] paul-lemon commented on #91
Maybe add a virtual filed "Last comment" into the fields so that when retrieveing the issues (from filter) etc. the "Last comment" column would be rendered. (Also a good way to add a comment into the issue from Update Jira Issues possibly...)

[2019-03-04 14:51] ljay79 commented on #150
Possible as well. We just need to keep in mind (incl. EPIC) every custom function to resolve Epic or Sprint (or anything else) are additional requests to Jira and for that a lot of Property get/set.  Im becoming a little scared about the basic limitations and quotas of Google.

https://developers.google.com/apps-script/guides/services/quotas

[2019-03-04 15:07] ljay79 commented on #161
Fixed / Closed

[2019-03-04 15:07] #161 closed

[2019-03-04 15:42] paul-lemon commented on #150
I think for this sprints we wouldnt to make an additional request as the
Sprint Name and ID are available in the response already so it wouldnt need
a custom function
Is this not possible for Epic too? Fetch the Epic name when requesting the
issues?

In terms of the quotas I think they are per user? Or are they per add-on?

On Mon, Mar 4, 2019 at 3:51 PM Jens <notifications@github.com> wrote:

[2019-03-04 19:58] ljay79 commented on #150
Yes, the quotas are per user.

Let suspend this for a little while until we have the current feature out and fixed and have the refactoring done. A few of your new code/classes is quite unautodox and not really matching our defined patterns.

Before going to much in detail, after your and my new feature, i like to spend a little more effort in analyzing and tweaking the calls under quota/limitatio

[2019-03-05 13:18] ljay79 opened #171 "Update Jira Issues: Supported fields - Due & Start date"
New feature "Update Jira Issues" does fail on certain jira fields due to their expected format transmitted to the API during IssueUpdate.

Field:
_Due_ & _Start date_

Error:

[2019-03-05 13:19] ljay79 opened #172 "Update Jira Issues: Supported fields - Sprint"
New feature "Update Jira Issues" does fail on certain jira fields due to their expected format transmitted to the API during IssueUpdate.

Field:
_Sprint_

Error:

[2019-03-05 13:21] ljay79 opened #173 "Update Jira Issues: Supported custom fields - Type Labels"
New feature "Update Jira Issues" does fail on certain jira fields due to their expected format transmitted to the API during IssueUpdate.

Custom field:
_cField Labels_

Jira Field Type:
_Labels_ (array of strings)

Error:

[2019-03-05 14:03] paul-lemon commented on #172
Will check this later

On Tue, 5 Mar 2019 at 14:19, Jens <notifications@github.com> wrote:

[2019-03-05 14:07] ljay79 commented on #108
Version 1.2.0 has been pushed to Google Marketplace with the new feature enabled for prodution use, with "beta" flag.

Pending Google's review.

[2019-03-05 20:20] paul-lemon commented on #173
I can't reproduce this.
This is the schema for the custom field in our Server side JIRA for labels
[code]
I am able to set a single label, add multiple labels and delete labels..
This is the log from Stackdriver showing the payload when updating an issue.
`fetchArgs: {payload={"update":{"comment":[{"add":{"body":"Updated by [Project Aid for Jira|https://github.com/ljay79/jira-tools]"}}]},"fields":

[2019-03-05 20:20] paul-lemon commented on #173
Could you share the schema from your server instance?
Could you find the payload in the logging as well?

[2019-03-05 20:27] paul-lemon commented on #172
I am testing on JIRA v7.6.3 server side API

I can't reproduce this. I can assign an issue to an existing or future sprint.
I have only tested with a single sprint.
This is the payload when doing so
`fetchArgs: {payload={"update":{"comment":[{"add":{"body":"Updated by [Project Aid for Jira|https://github.com/ljay79/jira-tools]"}}]},"fields":{"customfield_11090":5671}}}`

customfield_11090 is the S

[2019-03-05 20:28] paul-lemon commented on #172
I think anyway while users have to enter the integer ID of the sprint this field should be disabled.

[2019-03-05 20:35] paul-lemon commented on #171
Can't reproduce this either.
This may be down to the individual permissions on your jira instance so can you check that you can update the duedate field from the JIRA edit screen and in the current status of the ticket.
Jira admins can set quite fine grained permissions on fields so that may be the cause.

[2019-03-05 21:05] paul-lemon commented on #137
![screen shot 2019-03-05 at 09 31 03](https://user-images.githubusercontent.com/2955356/53837132-2a5ca300-3f92-11e9-90fb-435c211e0e3e.png)
![screen shot 2019-03-05 at 21 59 39](https://user-images.githubusercontent.com/2955356/53837142-36486500-3f92-11e9-9ce4-c98c8a515d10.png)
![screen shot 2019-03-05 at 21 57 43](https://user-images.githubusercontent.com/2955356/53837394-c4245000-3f92-11e9-9bb3-4

[2019-03-05 21:06] paul-lemon commented on #137
Screen shots (also shows due date and labels working! ;) )

[2019-03-05 21:06] paul-lemon commented on #137
^ @ljay79 - that enough?

[2019-03-05 21:31] paul-lemon commented on #21
^ @ljay79 - should we do this? I want to add caching to the method to getAllFields. I think it could be cached for 10-20 minutes. It would speed up the UI and help cut done on a few calls.
Adding it here is just as much work as anywhere else in the codebase for this call and it can then be used on other calls as and when needed by setting a cache time. Default would be for no caching.
I can knock

[2019-03-06 11:31] ljay79 commented on #173
Find attached the fiel schema of my used Jira Cloud Instance.

[jira-field-schema.txt](https://github.com/ljay79/jira-tools/files/2935996/jira-field-schema.txt)

[2019-03-06 11:35] ljay79 commented on #173
As the add-on is now published since early morning, i have used a individual google account with the production live add-on.
Was able to reproduce the issue.

Notes:
- im Using Jira Cloud Instance
- i am the only Jira administrator :)
- field type is array according to schema
- error indicates the passed data is not an array
- i used a single string value setting it from empty to "test_label2"

![

[2019-03-06 11:37] ljay79 commented on #172
A user would have to enter the ID at the moment? I tried with the corresponding string value.
So its basically expected to fail in my case?

[2019-03-06 11:40] ljay79 commented on #171
I am the one and only admin in our Jira Cloud Instance.

What format is expected to be entered in the sheet cell for _Due date_ and/or _Start date_ ?

[2019-03-06 11:44] ljay79 commented on #171
Ok, appears to work. "Due date" as really not part of the Issue Screen for this partical test project.
Works on a different one as expected.
Start Date, i couldnt confirm yet but according to error message its a jira screen type dependency and not an Add-on format/scheme issue.

I think we therefore can close this issue ?

[2019-03-06 11:46] ljay79 commented on #137
I have used following screenshot (yesterday).
Im sadly limited to 4 elements. I would like to replace one more with a nice video.. But its not urgent :)

![live-04](https://user-images.githubusercontent.com/12184976/53879107-ead39c80-400d-11e9-93b2-171431d39803.png)

[2019-03-06 11:49] ljay79 commented on #21
Not sure atm..
I would prefer getting exiting W-I-P finished first to add another feature branch which requires quite some refactoring across all places.

For the API Cache specifically, it would require some thoughts into it first:
- is it actually necessary at all? :)
- what is a good cache time? (to low = no effect; to high = negative sideeffects for heavy users...)
...

If thats ok, please kee

[2019-03-06 12:20] paul-lemon commented on #21
I think it may be needed sooner rather than later for some calls but agree
its not needed right now.

Reasons its needed.
1. Some calls are expensive on JIRA (get all fields) but change
infrequently (get all fields)
2. Those slow calls also affect user experience (they have to wait for the
screen to appear) - that makes the product feel clunky
3. There is a quota on calls.

I think this is about 1

[2019-03-06 12:21] paul-lemon commented on #171
Good to close. I think the messaging may need to improve the error from
JIRA API is not easy to understand - we should monitor feedback from users

On Wed, Mar 6, 2019 at 12:44 PM Jens <notifications@github.com> wrote:

[2019-03-06 12:24] paul-lemon commented on #172
Yes thats expected but unsatisfactory behaviour for the user.
The JIRA API only accepts the integer sprint ID
Retrieving the list of sprint names and IDs is not straightforward at all hence
https://github.com/ljay79/jira-tools/issues/150

We have options
1. Document the need for an ID (release needed?)
2. Remove the sprint field for now until (or if) https://github.com/ljay79/jira-tools/issues/150

[2019-03-06 12:25] paul-lemon commented on #173
Thanks for this - I will test.

[2019-03-06 13:35] paul-lemon commented on #173
I can reproduce locally and will work on this later this evening.

[2019-03-06 13:35] paul-lemon commented on #173
It only occurs when using a custom "label" field rather than the built in Jira Label field.

[2019-03-06 13:55] ljay79 commented on #173
Thats correct. Only on custom "label" field.

[2019-03-06 13:55] ljay79 commented on #172
Yeah i forgot about #150 . I think we can close this issue then in favor for #150 .

[2019-03-06 13:55] #172 closed

[2019-03-06 13:56] #171 closed

[2019-03-06 19:42] paul-lemon commented on #173
Should have a fix soon - shall I start 1.2.1 branch for fixes?

[2019-03-06 19:42] #137 closed

[2019-03-06 19:58] ljay79 commented on #173
sure

[2019-03-07 21:09] paul-lemon opened #177 "Exceeding quota for calls to Properties get"
** Provide a general summary of the issue in the Title above **
Stackdriver calls show alot of logging for errors relating to calls to exceeding quotes on calls to Properties Get
These errors when exceeding the quota will cause an error for the user and make the add-on look buggy
** Provide a more detailed information of the issue **
Logging calls to UserStorage.get (which calls the property servi

[2019-03-08 06:28] paul-lemon commented on #177
In case its not clear I mean if the Add on stores all the settings in one JSON object in the User Properties instead of storing each one individually the number of calls will drop to about 10-20% of the current number of the calls. Currently each separate property requires a separate call to the service.

[2019-03-08 08:18] paul-lemon commented on #177
@ljay79 - I can work on this later - i think its important for release 1.2.1 - agree?

[2019-03-08 11:03] ljay79 commented on #177
I think, raping the storage design of google app script isnt the best approach to solve this.

I prefer a more analytical approach first.
Is there actually a problem for regular users?
What is causing the quota limit errors seen in stackdriver logs? (regular users or some corrupted sheets,add-on, side-effects,...)

The Property storage is used by our add-on exactly the way it is designed for and o

[2019-03-08 11:07] paul-lemon commented on #177
![screen shot 2019-03-08 at 12 06 03](https://user-images.githubusercontent.com/2955356/54025376-a1648800-419a-11e9-92d9-78370c494248.png)
1.3m errors in the last 30 days?
Each one of these is an exception to the user

[2019-03-08 11:12] paul-lemon commented on #177
The number of users its affecting is not high though - although I don't know the number of users of the add on.

[2019-03-08 11:42] ljay79 commented on #177
Keep in mind, it includes our develop cells as well.
And apparently they are a few installations causing most of these...

[2019-03-08 11:44] paul-lemon commented on #177
Yup - makes sense - I've updated the Storage class to the latest version and that includes some code to prevent repeated hits for values which are null - that may improve the behaviour in those rogue sheets.
I'll close
Thanks @ljay79 :)

[2019-03-08 11:44] #177 closed

[2019-03-09 13:23] paul-lemon opened #178 "Improve validation and error handling of Issue keys in Update Issues Feature"
If a user has entered a JIRA Issue ID incorrectly into a row the error message returned is not very user friendly
Also the functionality should try to strip off Issue Statuses from the Issue key e.g. TKT-123 [Done] should be interpreted as TKT-123
See image below
![Screen Shot 2019-03-09 at 14 19 51](https://user-images.githubusercontent.com/2955356/54072147-e1993880-4276-11e9-85a7-333fe2fcbd93.pn

[2019-03-20 19:45] Blondstar opened #183 "time report: not all users are dislpayed"
when creating a time report, and wanting to select a user not all users are displayed

### Steps to reproduce
** Provide a set of unambiguous steps to reproduce this bug include code, if relevant **
1.go to time report
2.click to creaet report
3.select user

### Expected result
** Tell us what should happen **
1. all user in the system are displayed and possible to select

### Actual result
** Tel

[2019-03-20 21:45] rokkbert commented on #183
Could be the same issue as #85 . The version here is 1.2.1, so even 250 users might not be enough. Can this be configured somehow?

[2019-03-21 12:02] ljay79 commented on #183
Im working on an improvement for the UI allowing such autocomplete in the dialog which then allows more than a handfull of entries (users).

Just for curiosity; about how many users (real world scenario) are we talking about?

[2019-03-23 11:50] Blondstar commented on #183
I have no idea.... I only got to the letter D....
I think auto complete could also be problematic since some users are not allowed to use the auto complete and @ function (this is a global permission in jira)
maybe allowing to enter the username would be an easy solutiin...
Thanks!

On Mar 21, 2019 13:02, Jens <notifications@github.com> wrote:

Im working on an improvement for the UI allowing such

[2019-03-23 22:16] ljay79 commented on #183
Thx for the valued input.
I cant think of a reason, a user would create timereports for users he isnt allowed to find via autocomplete, but i noticed the inflexibility and incorporated it.

- i tested with 6500+ users (JSON data simulation) and the autocomplete works flawlessly
- username can be entered without choosing from autocomplete selection

Will be available soon - next release. Will updat

[2019-03-24 14:31] Blondstar commented on #183
Thanks!
This will make my life much more easier!
Ill be happy to help test!
Let me know when it's available
Many thanks again!

On Mar 23, 2019 11:16 PM, Jens <notifications@github.com> wrote:

Thx for the valued input.
I cant think of a reason, a user would create timereports for users he isnt allowed to find via autocomplete, but i noticed the inflexibility and incorporated it.

  *   i tested w

[2019-03-25 13:11] ljay79 commented on #183
I have released it yesterday already, but pending for Google's approval and publishing it. Can happen any minute...

[2019-03-25 15:55] ljay79 commented on #183
New version 1.2.2 is now approved by Google and published.
You can try the new user selection with autocomplete when create a time report.

Let me know, if there are any issues.
So far, i will close this issue - commenting should still be allowed.

When you like the Add-On, i do appriciate a positive review in the Google Marketplace:
https://chrome.google.com/webstore/detail/project-aid-for-jira/n

[2019-03-25 15:55] #183 closed

[2019-03-25 15:57] ljay79 commented on #85
New version 1.2.2 is now approved by Google and published.
You can try the new user selection with autocomplete when create a time report.
New limitation of **1000 users** (limited by Jira API).

Let me know, if there are any issues.
So far, i will close this issue - commenting should still be allowed.

When you like the Add-On, i do appriciate a positive review in the Google Marketplace:
https://

[2019-03-25 15:57] #85 closed

[2019-03-26 06:24] Blondstar commented on #183
hi Jens
many many thanks!!!!
it works perfectly! we even migrated some users from a sub company to our jira and I can see the 2 users that are the same and select between them (name is the same but user name not)!
many thanks again!!!!!

________________________________
From: Jens <notifications@github.com>
Sent: Monday, March 25, 2019 5:55 PM
To: ljay79/jira-tools
Cc: Blondstar; Author
Subject: R

[2019-03-26 17:35] ljay79 commented on #183
Perfect, im glad it works.

[2019-03-26 20:50] Tcbrine opened #187 "Affects Version Field Missing"
** Provide a general summary of the issue in the Title above **

** Provide a more detailed information of the issue **

** Provide Debugging information **
AANBUuXogR+sGGhc2stCWPsAu5EOst0g8zKhMtAHLtUG2aM1HTKpyQiAZosqhr/I6MhPtCHv98D5

### Steps to reproduce
** Provide a set of unambiguous steps to reproduce this bug include code, if relevant **
1. Select menu option "List issues from filter"
2. Vi

[2019-03-27 20:30] jeffrmanley opened #188 "Error: [401] - "Unauthorized" - JQL: project='AI-Agemni' (line 74) - shared sheet with many users."
Several Users share a gSheet, most users have the Project Aid for Jira setup under their user. I'm attempting to use this:

=JST_getTotalForSearchResult("project='AI-Agemni'")

which produces the error Error: [401] - "Unauthorized" - JQL: project='AI-Agemni' (line 74).

It was working when I first created the column but it is no longer working. From another tab I'm still able to run Add-ons --> Pr

[2019-03-27 22:13] ljay79 commented on #187
The @Tcbrine for reporting this.
The field apparently just got forgotten.

The new version 1.2.3 has it now implemented and is published to [Google's marketplace](https://chrome.google.com/webstore/detail/project-aid-for-jira/ncijnapilmmnebhbdanhkbbofofcniao) .
As soon Google reviewed and approved the release, it will be automatically updated for all users and then you can use that field.

Feel fr

[2019-03-27 22:13] #187 closed

[2019-03-27 22:18] ljay79 commented on #188
Thx @jeffrmanley for reporting this.
I will certainly have a look into it asap.

[2019-03-28 10:13] ljay79 commented on #188
Are you able to forcefully reproduce the issue in a completly new Google Spreadsheet and can then provide the steps for me to try myself reproducing the issue.
Without having me able to reproduce it, this is an hard issue to research and/or fix.

[2019-03-28 10:33] ljay79 commented on #188
What i notice already so far, the custom function _JST_getTotalForSearchResult_ appears to being executed in a different user scope.
Your successfuly calls with "List issues from filter" appear under UserKey: _"AANBU*****GqSvy99lg18h5Bjf"_
While the failed calls to the custom functions are logged under UserKey: _"AANBU*****FcRqD5w39HZ5Q"_

Im trying to analyize this in my environment as best as i

[2019-03-28 13:22] jeffrmanley commented on #188
I've uninstall and reinstalled the Add-On. The new Temp User is AANBUuXNismlhcD+t9PM+7mpDK0BGVZPDJjwIlJzWkmkwOLjMNu5D6JQAiQ7/pAOe8gfrgSkc8YU

and I'm still experiencing the same [401] - "Unauthorized" error

Thanks for helping to get this solved!!

[2019-03-28 13:24] jeffrmanley commented on #188
Another possible important note. We have some users in this gSheet setup in the Add-On to pull data from a different Jira Server.

[2019-03-28 14:25] ljay79 commented on #188
Hmmm...   the custom function you are getting an error is added into the cell by yourself or by a different user?

[2019-03-28 14:25] ljay79 commented on #188
@paul-lemon maybe you can replicate this issue with your multi-user setup?

[2019-03-28 18:48] ljay79 commented on #188
Damn, not sure how i could forget about this :/

Im so sorry.
**So in fact, google's custom functions do use the document owner's configured site and Jira account to query Jira, when sharing a spreadsheet anyone who can edit it will be able to use this function and import Jira data using your account.**

I must find a way, of highlighting / warning users upfront about this.
After long research and

[2019-03-28 18:59] ljay79 commented on #188
I think a good way of makeing sure, users are aware of this and are warned clearly, i think about having all custom functions disabled by default and let a user enable it only via the settings dialog with a good warning of this behavior.

What to you guys think about this?

[2019-03-28 19:50] paul-lemon opened #190 "Usability issue with settings"
Reported by one of the team I work with.
The settings screen suggests the URL for the server would be
_Jira URL (https://YOURCOMPANY.atlassian.net/)_
we use a private server so the server is a completely different domain and does not have "atlassian.net" in the URL.
However when first setting it up they thought "ourcompanyname.atlassian.net" would be the correct value and they needed my help to co

[2019-03-28 19:56] paul-lemon commented on #188
I can test this sometime soon.

i'll have a go.

[2019-03-28 20:17] jeffrmanley commented on #188
I'm adding the formula myself.  As a matter of fact I have a couple Google Apps accounts that have access to this sheet and I have one setup to point to one Jira server and the other setup to the 2nd Jira server

Yes, I believe that disabling with clear warning and let the user agree to enable would be a good idea.

Since these are read-only functions and we're using in reporting that everyone wit

[2019-03-28 21:21] jeffrmanley commented on #188
Some additional testing. I created a new gSheet with both my Google Apps users.

User A has setup page pointing to Jira Server A
User B has setup page pointing to Jira Server B

Created this formula with User A and it worked fine: =JST_getTotalForSearchResult("project='AI-" & upper(A2) & "' and status='100%' and type in (subqb, Task) AND qb_ID !~ 0 AND qb_ID is not EMPTY")/JST_getTotalForSearchRes

[2019-03-28 21:34] ljay79 commented on #188
Thanks for this extensive evaluation @jeffrmanley .
Indeed i can only confirm and assure with confidence: All custom functions do use the document owner's configured site and Jira account to query Jira.

[2019-03-28 21:37] ljay79 commented on #190
Understand. Agree it can be improved.
Will think of a clean way.. It must be short. Forms with long explanations are not good for UX.

I have my ex-project partner requested to get a hand on this add-on to make a full redo of all the UX (styling etc.) will put this one here onto the list.

[2019-03-28 23:49] katherinepatrice opened #191 "Support Service Desk fields"
Service desk fields (listed as custom fields) are not supported currently.
I see that Type: "array|sd-customerorganization" and many other "sd-" types are grayed out and not supported. Would it be possible to make these available?

![SD_support](https://user-images.githubusercontent.com/48769620/55199917-0ba89100-5179-11e9-8f6a-f6626d0e1fc4.png)

[2019-03-29 09:06] paul-lemon commented on #188
I made some tests and can confirm this also.
I set up sheet with some custom functions in the cells.
These displayed correct results.
I shared it with another user who then in the settings entered an invalid URL and password which did not connect to a JIRA server
They were able to still use custom functions in the sheet - both refreshing them and adding new ones.
They were not able to use other di

[2019-03-29 15:17] ljay79 commented on #191
Hi @katherinepatrice
thanks for using my Add_on and for taking the time to request an enhancement.

As i am not a heavy user and i do not have access to an Jira instance with Service Desk, i can only give it a "blind" shot on trying to add support for such fields.

If you could kindly assist me with getting more details on such fields, i like to ask you to follow below procedure. This should give

[2019-03-29 15:20] ljay79 commented on #188
Sorry for this end of the storry :)

I will certainly implement a clear warning to make any users aware of this "limitation" in one of the very next releases.

Im sure, it is ok to close this issue at this point.

[2019-03-29 15:20] #188 closed

[2019-04-02 19:46] ljay79 commented on #191
Hi @katherinepatrice , any update on this? Do you maybe need further assistance for providing requested details?

[2019-04-02 22:30] katherinepatrice commented on #191
Hello!
Sorry for the late reply!

OK so I did steps 1-3. My Temp User key:
AANBUuXj7RZGH9VYxxeHVTMSWNuGPRzTinTFIqGIaxDV1Z7bt+ycuQquilebwPLdBVdU+zCDatFJ

I tried a couple of different jql queries to bring up data - the  =
JST_search("project = RD", "key,sd-customerorganization", 2)   one is a
search for tickets that include these fields. I was not able to search
successfully with the IDs pulled fro

[2019-04-03 20:41] ljay79 commented on #191
Thx, i will check what i got and how/if it can help.

[2019-04-04 10:51] nsivabalan123 opened #193 "Unable to connect Jira using Project Aid Addon"
I am getting DNS error. while configuring JIRA details
Exception: DNS error: https://jiradev-bsn.broad<?>Ok

Please help me how to fix this issue.

Thanks in Advance.

[2019-04-04 14:24] ljay79 commented on #193
Hi.

The Add-on runs online within Google environment and can not access any local/private domains or hosts.
The domain "jiradev-bsn.broad" does not appear to be a public online ressource.

[2019-04-04 15:58] nsivabalan123 commented on #193
So what are all domains works. I am part of broadcom. Need to connect JIRA in google sheet and extract the data via JQL configured in Google sheet. Please share your thoughts.

[2019-04-04 20:02] ljay79 commented on #191
Hi @katherinepatrice , sadly this didnt helped that much as i was hoping. I dont have deep level debug active for these relevant parts.

Maybe the following will give me more input.
When you are logged in into your jira, open a second tab and access following URL:
_https://ji.mfmnow.com/rest/api/2/field_

It should return a JSON response with all your jira field types and mapping, if you could pas

[2019-04-04 20:06] ljay79 commented on #193
your domain, appears to me, as an internal service within your corporate network only. As long as you can not access that Jira instance from outside of the network, it wont be possible to use any such services like my or other add-ons.

If you can, try to make the service accessible remotely via a public domain service.

[2019-04-05 09:15] nsivabalan123 commented on #193
Our Google is cooperate setup authenticated by OKTA, and worked as intranet service.

[2019-04-05 10:11] ljay79 commented on #193
It's not the Google service which matters here atm. It's the jira instance.
If jira is not publicly accessible by a public domain, no service such as a
Google add-on will be able to connect to it.

It works like that, an addons runs in the Google public cloud, everytime
you try to use my addon for example it will need to perform api requests
from the Google cloud to the jira instance.

Basically,

[2019-04-05 10:14] ljay79 commented on #193
So basically your only option would be, to get some Plugin for Jira which work the other way... Exporting data from within Jira to an external service. Such Add-Ons are available within the Jira Marketplace and usually require your Jira Admin to purchase and install them.

[2019-04-12 15:57] rodrigomojeda opened #196 "There was a problem fetching your settings from the Google Service"
** Provide a general summary of the issue in the Title above **

All of my queries fail with a generic error that's not possible to debug.
Error: There was a problem fetching your settings from the Google Service. Please try again later. (line 21)

** Provide a more detailed information of the issue **
I'm not able to access Add-on configuration I get this error "Service called too frequently in o

[2019-04-12 20:07] seanhowe opened #197 "Exception: service invoked too many times for one day: urlfetch"
** Provide a general summary of the issue in the Title above **
We are using Project Aid for JIRA add-on and trying to load filters from JIRA

** Provide a more detailed information of the issue **
When I select the Add-on drop down and then Project Aid for JIRA then List issues from filter, it tries to load filters but is unable to do so, and fatally fails with the error in the title.

** Provide

[2019-04-12 21:08] ljay79 commented on #196
Hi there.
Sorry that you have such issue.
This error would usually occure, when the script is not able to access the storage object from google which in most cases would only occure when the add-on is not authorized to access it.

Did you try to fully uninstall the add-on?
Then install it but do this in a completly new and empty google sheet of your own. Then test again please and report here, if

[2019-04-12 21:17] ljay79 commented on #197
Hi @seanhowe ,

thats the first time someone reports a quota limit.
According to google docs (https://developers.google.com/apps-script/guides/services/quotas) you would have at least a limit of 20.000 URL Fetch calls per day as a standard user or more for G-Suite users.

A)
To see, if you can solve the issue at least temporary for further (debugging), try to uninstall the add-on completly. Create

[2019-04-15 20:08] ljay79 opened #198 "Refresh Table with less results than before does not remove old results"
** Provide a general summary of the issue in the Title above **
When refreshing an IssueTable, which then has less results than before, the old results are not removed and still at the end of the table.

### Steps to reproduce
1. Insert table from issue filter
2. Somehow make sure, the same filter will return less results the next time executed
3. Refresh Issuetable

### Expected result
1. 1st run

[2019-04-15 20:14] ljay79 commented on #196
Hi @rodrigomojeda
do you have any update to that issue?

[2019-04-15 20:14] ljay79 commented on #197
Hi @seanhowe. any update to that issue?

[2019-04-15 20:27] seanhowe commented on #197
Hi! The filters are showing up today so I think it must have been a temporary issue. Thank you for following up though.

[2019-04-15 21:31] ljay79 commented on #197
Glad it appears solved now, what did you do? Did you reinstall the addon? I guess it might be temporary but also possible to reoccur again.

It would be very helpful if you could provide more details to the questions in my last comment.
Otherwise it's very likely you soon will hit this issue again.

[2019-04-17 14:39] rodrigomojeda commented on #196
Hi Sorry for the late response.
Well, the thing is that I've already tried to uninstall/install with apparently no luck.
Let me give some more background.
I'm using the add-on in several spreadsheets simultaneously to grab data from Jira and to create various teams performance metrics.
The problem is that when I start getting this error it got spread all over the other automation spreadsheets, I a

[2019-04-17 15:35] ljay79 commented on #196
Hi.

Your issue and your feedback indicate it might be simply related to an overly heavy use, reaching the google quota limits.
If you uninstall the add-on, i would try to leave it uninstalled for 24 hours.

And yes, for sure, if 1 sheets add-on fails, all other will do same.
An Google Add-On is not limited to a specific sheet. It will life in your google user account within the Sheet service in g

[2019-04-17 16:59] rodrigomojeda commented on #196
Hi Jens,
Thanks for the prompt response!
Yep, everything indicates that I'm reaching Google's quota.
I'll try leaving it uninstalled over the weekend, keep you posted.
What's your guess about leaving it uninstalled for 24hs?
Looking forward.
Regards

[2019-04-17 18:01] ljay79 commented on #196
As the google quota limits are per 24hours, it should be fine over the weekend.
When you then reinstall the add-on, please do this in a completly new and empty Spreadsheet. Just to try making safe, no old/existing sheet will trigger any Jira api requests (add-on activities).

Then for testing, try to replicate your use case step by step until you hit the issue again.
PS: Suggestion: when re-instal

[2019-04-18 12:55] rodrigomojeda commented on #196
Thanx Jen,
I'll keep you posted.
Regards

[2019-04-18 15:30] brunobertechini opened #201 "Support for ProFields (Project Fields)"
Hi there, I am successfully using this extension for a while.

However, my Jira has some custom Project Fields (ProFields) in use for every ticket type. The columns are displayed correctly using my JQL in Jira, however when I insert in the spreadsheet using ProjectAid AddOn. the values for these columns are not populated.

Is this not supported?

[2019-04-19 16:53] ljay79 commented on #201
Hi.
Custom fields are supported partially depending on their actual type.
Did you try to configure these custom fields via the Add-on -> Configure custom fields?
![pa4j-configure-custom-fields](https://user-images.githubusercontent.com/12184976/56434317-6d6d9e00-62d4-11e9-9244-cb149576dc72.jpg)

[2019-04-19 18:20] locolab opened #202 "Error "No filters available!""
** Provide a general summary of the issue in the Title above **
I successfully connected to my Jira Cloud account using username and API token but no filters are available. I have 10 board-level filters that should be showing up. "Configure Custom Fields" seems to be working properly, as well as Jira Field map. But when I go to "List issues from filter", I get the error message "No filters availab

[2019-04-19 18:24] #202 closed

[2019-04-19 18:25] locolab commented on #202
I had not starred any filters. For some reason I did not equate this to the authors "You must favorite at least one filter". Oops!

[2019-04-19 19:26] ljay79 commented on #202
Glad you figured it out. I must see in the future if I'm able to have this favorite starring not being required.

[2019-04-20 22:48] brunobertechini commented on #201
Hi @ljay79 yes I did. I have selected them as explained in the post, however, no data is displayed.

My custom field is a Profield for a User (which in fact is Json object).

When I use custom functions to access I need to do like "field.displayName"

I am using the profields extension to select like project role manager for my project. I would like to have this info populated...

Do you think thi

[2019-04-21 12:11] ljay79 commented on #201
Apparently no, such custom fields are not yet supported.
I can try to analyze them and possible add support for them if possible. However, i do not have such ProFields extension and would require your assistance.

In order to get me some more details on these fields, please follow below instructions.
1)
Add-ons -> Project Aid for Jira -> About
- enable debugging
- copy shown "Temp. User key" and p

[2019-04-21 13:07] ljay79 commented on #198
This should be solved with latest available version 1.3.1.

[2019-04-21 13:07] #198 closed

[2019-04-22 11:13] brunobertechini commented on #201
@ljay79 I will try. Let me just check if we have any sensitive information that cannot be shared.

Cheers and thanks

[2019-04-22 14:47] ljay79 commented on #201
Yes sure.
You can copy&paste the output of the URL requests here : https://jsonlint.com.
it will make the json pretty and then u can easily edit and obscure any sensitive info.

[2019-04-22 14:59] #193 closed

[2019-04-22 23:58] sshouse opened #203 "Error when trying to create new query from filter [405]"
I have several favorited filters, and this was working until recently, now I get the following error message:
No filters available!Failed to retrieve jira filters with status [405]!\nMethod Not Allowed

[2019-04-23 05:51] ljay79 commented on #203
Hi.
Sorry for the inconvenience.
Are you using Jira Server or Jira Cloud?

[2019-04-23 13:35] mirkea opened #204 "No issues with worklogs available for user ..."
Hi. I'm using JIRA  cloud and our instance is configured to authenticate with Google.
I installed the extension and configured it using email and API token. The extension seems to work for the most part (such as list JIRA issues from filter) except the part I need the most: time reports.

What happens is that I open "create time report", select a user and an interval and when I click Create report

[2019-04-23 14:27] ljay79 commented on #204
Hi @mirkea
Thanks for taking the effort reporting this issue.

I have checked the logs associated with your provided user key (hx for that).

I can see the query for worklogs for the user _mircea_. The Jira API indeed returned an empty result, telling no records found.
Here is the underlzing JQL query which the add-on does execute to fetch worklogs:
`worklogDate>="2019-04-01" AND worklogDate<="201

[2019-04-23 14:31] ljay79 commented on #203
Can you please check, if the issue still occurs.

[2019-04-23 15:08] mirkea commented on #204
Hi Jens
thanks for the quick (and helpful) response. It seems like that is indeed the query result and the reason for it seems to be that we're using Tempo (timesheets) which acts as a middleman.  If I change the JQL query to
[code]
then the worklogs shows up, but obviously it shows up for all the users. It seems like the problem is not with Jira Aid, so this is not a bug after all

[2019-04-23 15:08] #204 closed

[2019-04-23 15:38] ljay79 commented on #204
Glad i could help.
I had used the Tempo plugin in the past, but dont have it anymore.
But i remember you could do quite pretty reports with it inside Jira already, no need to go the way around with google sheet.

On the other hand, if you prefer to have it in sheets... maybe you can investigate a bit how Tempo does store this data and maybe it does make it accessible via Jira JQL in a different wa